In [1]:
import polars as pl
import pandas as pd


path_companies = '/Users/jannajulianfeiten/IronHack/final/companies.csv'
path_unicorn = '/Users/jannajulianfeiten/IronHack/final/tech-startups-analysis/data/raw/Unicorn_Companies.csv'

df_companies = pl.read_csv(path_companies)

try:
    df_unicorn = pl.read_csv(
        path_unicorn,
        null_values=["None"]
    )
except Exception as e:
    print(f"An error occurred trying to load the Unicorn file: {e}")

In [2]:
df_companies

shape: (196_553, 44)
┌─────────┬─────────────┬─────────────┬───────────┬───┬────────────┬───────────┬────────────┬──────┐
│ id      ┆ Unnamed:    ┆ entity_type ┆ entity_id ┆ … ┆ updated_at ┆ lat       ┆ lng        ┆ ROI  │
│ ---     ┆ 0.1         ┆ ---         ┆ ---       ┆   ┆ ---        ┆ ---       ┆ ---        ┆ ---  │
│ str     ┆ ---         ┆ str         ┆ i64       ┆   ┆ str        ┆ f64       ┆ f64        ┆ f64  │
│         ┆ i64         ┆             ┆           ┆   ┆            ┆           ┆            ┆      │
╞═════════╪═════════════╪═════════════╪═══════════╪═══╪════════════╪═══════════╪════════════╪══════╡
│ c:1     ┆ 0           ┆ Company     ┆ 1         ┆ … ┆ 2013-04-13 ┆ 47.606209 ┆ -122.33207 ┆ 15.5 │
│         ┆             ┆             ┆           ┆   ┆ 03:29:00   ┆           ┆ 1          ┆      │
│ c:10    ┆ 1           ┆ Company     ┆ 10        ┆ … ┆ 2008-05-23 ┆ 34.021122 ┆ -118.39646 ┆ null │
│         ┆             ┆             ┆           ┆   ┆ 23:23:14   ┆           ┆ 7          ┆      │
│ c:100   ┆ 2           ┆ Company     ┆ 100       ┆ … ┆ 2013-11-04 ┆ 37.562992 ┆ -122.32552 ┆ null │
│         ┆             ┆             ┆           ┆   ┆ 02:09:48   ┆           ┆ 5          ┆      │
│ c:10000 ┆ 3           ┆ Company     ┆ 10000     ┆ … ┆ 2008-09-06 ┆ null      ┆ null       ┆ null │
│         ┆             ┆             ┆           ┆   ┆ 14:19:18   ┆           ┆            ┆      │
│ c:10001 ┆ 4           ┆ Company     ┆ 10001     ┆ … ┆ 2008-09-06 ┆ null      ┆ null       ┆ null │
│         ┆             ┆             ┆           ┆   ┆ 14:19:18   ┆           ┆            ┆      │
│ …       ┆ …           ┆ …           ┆ …         ┆ … ┆ …          ┆ …         ┆ …          ┆ …    │
│ c:99940 ┆ 196548      ┆ Company     ┆ 99940     ┆ … ┆ 2013-08-13 ┆ 37.774929 ┆ -122.41941 ┆ null │
│         ┆             ┆             ┆           ┆   ┆ 00:39:13   ┆           ┆ 5          ┆      │
│ c:9995  ┆ 196549      ┆ Company     ┆ 9995      ┆ … ┆ 2013-06-28 ┆ 37.338208 ┆ -121.88632 ┆ null │
│         ┆             ┆             ┆           ┆   ┆ 20:55:30   ┆           ┆ 9          ┆      │
│ c:9996  ┆ 196550      ┆ Company     ┆ 9996      ┆ … ┆ 2013-06-28 ┆ 38.882334 ┆ -77.171091 ┆ null │
│         ┆             ┆             ┆           ┆   ┆ 20:52:01   ┆           ┆            ┆      │
│ c:9997  ┆ 196551      ┆ Company     ┆ 9997      ┆ … ┆ 2013-06-28 ┆ 34.052234 ┆ -118.24368 ┆ null │
│         ┆             ┆             ┆           ┆   ┆ 20:56:44   ┆           ┆ 5          ┆      │
│ c:9998  ┆ 196552      ┆ Company     ┆ 9998      ┆ … ┆ 2013-03-23 ┆ 34.035633 ┆ -118.51559 ┆ null │
│         ┆             ┆             ┆           ┆   ┆ 12:01:50   ┆           ┆            ┆      │
└─────────┴─────────────┴─────────────┴───────────┴───┴────────────┴───────────┴────────────┴──────┘

In [3]:
df_unicorn

shape: (1_037, 13)
┌────────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────┬───────────┐
│ Company    ┆ Valuation  ┆ Date       ┆ Country   ┆ … ┆ Financial ┆ Investors ┆ Deal  ┆ Portfolio │
│ ---        ┆ ($B)       ┆ Joined     ┆ ---       ┆   ┆ Stage     ┆ Count     ┆ Terms ┆ Exits     │
│ str        ┆ ---        ┆ ---        ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---   ┆ ---       │
│            ┆ str        ┆ str        ┆           ┆   ┆ str       ┆ i64       ┆ i64   ┆ i64       │
╞════════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════╪═══════════╡
│ Bytedance  ┆ $140       ┆ 4/7/2017   ┆ China     ┆ … ┆ IPO       ┆ 28        ┆ 8     ┆ 5         │
│ SpaceX     ┆ $100.3     ┆ 12/1/2012  ┆ United    ┆ … ┆ null      ┆ 29        ┆ 12    ┆ null      │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆       ┆           │
│ Stripe     ┆ $95        ┆ 1/23/2014  ┆ United    ┆ … ┆ Asset     ┆ 39        ┆ 12    ┆ 1         │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆       ┆           │
│ Klarna     ┆ $45.6      ┆ 12/12/2011 ┆ Sweden    ┆ … ┆ Acquired  ┆ 56        ┆ 13    ┆ 1         │
│ Epic Games ┆ $42        ┆ 10/26/2018 ┆ United    ┆ … ┆ Acquired  ┆ 25        ┆ 5     ┆ 2         │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆       ┆           │
│ …          ┆ …          ┆ …          ┆ …         ┆ … ┆ …         ┆ …         ┆ …     ┆ …         │
│ Timescale  ┆ $1         ┆ 2/22/2022  ┆ United    ┆ … ┆ null      ┆ 7         ┆ 2     ┆ null      │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆       ┆           │
│ Scalapay   ┆ $1         ┆ 2/23/2022  ┆ Italy     ┆ … ┆ null      ┆ 10        ┆ 2     ┆ null      │
│ Omada      ┆ $1         ┆ 2/23/2022  ┆ United    ┆ … ┆ null      ┆ 30        ┆ 6     ┆ null      │
│ Health     ┆            ┆            ┆ States    ┆   ┆           ┆           ┆       ┆           │
│ BlueVoyant ┆ $1         ┆ 2/23/2022  ┆ United    ┆ … ┆ null      ┆ 6         ┆ 2     ┆ null      │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆       ┆           │
│ Veev       ┆ $1         ┆ 2/24/2022  ┆ United    ┆ … ┆ null      ┆ 11        ┆ 1     ┆ null      │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆       ┆           │
└────────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────┴───────────┘

### Cleaning df_companies

In [4]:
# Set Polars display option to show all 44 rows (we set to 50 for safety)
# This uses the correct pl.Config method for your Polars version.
pl.Config.set_tbl_rows(50)

# --- Null Percentage Calculation for df_companies ---

# 2. Get the total number of rows
total_rows = df_companies.height

# 3. Select all columns, apply the null count logic, and calculate percentage
null_counts_df = df_companies.select(
    (pl.col("*").null_count() / total_rows) * 100
)

# 4. Extract column names and percentage values
column_names = null_counts_df.columns
percentage_values = null_counts_df.row(0) 

# 5. Create the final DataFrame
null_report_final = pl.DataFrame({
    "Column Name": column_names,
    "Null Percentage (%)": pl.Series(percentage_values)
})

# 6. Sort the report to see the highest percentage of nulls first
final_report_sorted = null_report_final.sort("Null Percentage (%)", descending=True)

# Print the final report (now showing all 44 rows)
print("--- Full Null Percentage Report (df_companies) ---")
print(final_report_sorted)

--- Full Null Percentage Report (df_companies) ---
shape: (44, 2)
┌─────────────────────┬─────────────────────┐
│ Column Name         ┆ Null Percentage (%) │
│ ---                 ┆ ---                 │
│ str                 ┆ f64                 │
╞═════════════════════╪═════════════════════╡
│ parent_id           ┆ 100.0               │
│ ROI                 ┆ 99.630634           │
│ first_investment_at ┆ 98.685851           │
│ last_investment_at  ┆ 98.685851           │
│ investment_rounds   ┆ 98.68178            │
│ invested_companies  ┆ 98.68178            │
│ closed_at           ┆ 98.667026           │
│ short_description   ┆ 96.371971           │
│ funding_total_usd   ┆ 85.818583           │
│ first_funding_at    ┆ 83.970227           │
│ last_funding_at     ┆ 83.970227           │
│ funding_rounds      ┆ 83.868473           │
│ state_code          ┆ 74.102151           │
│ twitter_username    ┆ 58.997828           │
│ tag_list            ┆ 58.559778           │
│ lat                 ┆ 57.338733           │
│ lng                 ┆ 57.338733           │
│ city                ┆ 57.3194             │
│ country_code        ┆ 55.233448           │
│ founded_at          ┆ 53.586564           │
│ first_milestone_at  ┆ 53.346426           │
│ last_milestone_at   ┆ 53.346426           │
│ milestones          ┆ 53.346426           │
│ description         ┆ 53.168865           │
│ logo_url            ┆ 43.979486           │
│ logo_width          ┆ 43.979486           │
│ logo_height         ┆ 43.979486           │
│ category_code       ┆ 37.326828           │
│ domain              ┆ 35.617874           │
│ homepage_url        ┆ 35.617874           │
│ overview            ┆ 35.401139           │
│ relationships       ┆ 34.029498           │
│ created_by          ┆ 20.869689           │
│ normalized_name     ┆ 0.013228            │
│ name                ┆ 0.011193            │
│ id                  ┆ 0.0                 │
│ Unnamed: 0.1        ┆ 0.0                 │
│ entity_type         ┆ 0.0                 │
│ entity_id           ┆ 0.0                 │
│ permalink           ┆ 0.0                 │
│ status              ┆ 0.0                 │
│ region              ┆ 0.0                 │
│ created_at          ┆ 0.0                 │
│ updated_at          ┆ 0.0                 │
└─────────────────────┴─────────────────────┘

In [5]:
# Keeping columns with relevant information and low number of nulls
cols_keep = [
    'name', 'country_code', 'region', 'city',
    'founded_at', 'created_at',
    'funding_total_usd', 'funding_rounds',
    'category_code', 'status'
]
df_companies_filtered = df_companies.select(cols_keep)

# Print the shape to confirm the number of columns
print(f"Original columns: {df_companies.width}")
print(f"Filtered columns: {df_companies_filtered.width}")

Original columns: 44
Filtered columns: 10

In [6]:
# Remove quotes AND strip whitespace

df_companies_filtered = df_companies_filtered.with_columns(
    pl.col(pl.Utf8)
      # 1. First transformation: Remove double quotes (")
      .str.replace_all('"', "", literal=True) # Added literal=True for Polars consistency
      # 2. Second transformation: Remove leading/trailing whitespace explicitly
      .str.strip_chars() 
      # 3. Keep the original column names
      .name.keep()
)

# Display the first few rows to verify both changes
print("--- DataFrame after removing quotes AND stripping whitespace ---")
print(df_companies_filtered.head())

--- DataFrame after removing quotes AND stripping whitespace ---
shape: (5, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ name      ┆ country_c ┆ region    ┆ city      ┆ … ┆ funding_t ┆ funding_r ┆ category_ ┆ status   │
│ ---       ┆ ode       ┆ ---       ┆ ---       ┆   ┆ otal_usd  ┆ ounds     ┆ code      ┆ ---      │
│ str       ┆ ---       ┆ str       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ str      │
│           ┆ str       ┆           ┆           ┆   ┆ f64       ┆ f64       ┆ str       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Wetpaint  ┆ USA       ┆ Seattle   ┆ Seattle   ┆ … ┆ 3.975e7   ┆ 3.0       ┆ web       ┆ operatin │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ g        │
│ Flektor   ┆ USA       ┆ Los       ┆ Culver    ┆ … ┆ null      ┆ null      ┆ games_vid ┆ acquired │
│           ┆           ┆ Angeles   ┆ City      ┆   ┆           ┆           ┆ eo        ┆          │
│ There     ┆ USA       ┆ SF Bay    ┆ San Mateo ┆ … ┆ null      ┆ null      ┆ games_vid ┆ acquired │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ eo        ┆          │
│ MYWEBBO   ┆ null      ┆ unknown   ┆ null      ┆ … ┆ null      ┆ null      ┆ network_h ┆ operatin │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ osting    ┆ g        │
│ THE Movie ┆ null      ┆ unknown   ┆ null      ┆ … ┆ null      ┆ null      ┆ games_vid ┆ operatin │
│ Streamer  ┆           ┆           ┆           ┆   ┆           ┆           ┆ eo        ┆ g        │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [7]:
# Date Transformation Step: Replace original string columns with only the Year (Integer)

df_companies_filtered = df_companies_filtered.with_columns(
    # 1. Replace 'founded_at' with just the year (Integer)
    pl.col("founded_at")
      .str.to_datetime(format="%Y-%m-%d", strict=False) # Correct conversion: .str.to_datetime()
      .dt.year()                                       # Extract the year
      .alias("founded_at"),                            # Overwrite the original column

    # 2. Replace 'created_at' with just the year (Integer)
    pl.col("created_at")
      .str.to_datetime(format="%Y-%m-%d %H:%M:%S", strict=False)
      .dt.year()
      .alias("created_at"),
)

# Display the head to confirm columns now contain years (Integers)
print("--- DataFrame after Replacing Dates with Year (Integer) ---")
print(df_companies_filtered.head().select(['founded_at', 'created_at']))

# Display the dtypes to confirm they are now Integer type (i32)
print("\n--- Data Types Confirmation ---")
print(df_companies_filtered.select(['founded_at', 'created_at']).dtypes)

--- DataFrame after Replacing Dates with Year (Integer) ---
shape: (5, 2)
┌────────────┬────────────┐
│ founded_at ┆ created_at │
│ ---        ┆ ---        │
│ i32        ┆ i32        │
╞════════════╪════════════╡
│ 2005       ┆ 2007       │
│ null       ┆ 2007       │
│ null       ┆ 2007       │
│ 2008       ┆ 2008       │
│ 2008       ┆ 2008       │
└────────────┴────────────┘

--- Data Types Confirmation ---
[Int32, Int32]

In [8]:
# Location columns that might contain "unknown"
location_cols = ['region', 'city']

# Impute "unknown" string with Null for location columns
df_companies_filtered = df_companies_filtered.with_columns(
    [
        pl.when(pl.col(col) == "unknown") # Check if the value in the column equals the string "unknown"
          .then(None)                     # If TRUE, replace it with Polars Null (None)
          .otherwise(pl.col(col))         # Otherwise, keep the original value
          .alias(col)
        for col in location_cols
    ]
)

print("\n--- Null check after standardizing 'unknown' ---")
print(df_companies_filtered.select(location_cols).null_count())

--- Null check after standardizing 'unknown' ---
shape: (1, 2)
┌────────┬────────┐
│ region ┆ city   │
│ ---    ┆ ---    │
│ u32    ┆ u32    │
╞════════╪════════╡
│ 109866 ┆ 112663 │
└────────┴────────┘

In [9]:
print("--- Current State of 'funding_total_usd' ---")
print(df_companies_filtered.select(['funding_total_usd']).head(20))
print("\n--- Current Dtype ---")
print(df_companies_filtered.select('funding_total_usd').dtypes)

--- Current State of 'funding_total_usd' ---
shape: (20, 1)
┌───────────────────┐
│ funding_total_usd │
│ ---               │
│ f64               │
╞═══════════════════╡
│ 3.975e7           │
│ null              │
│ null              │
│ null              │
│ null              │
│ null              │
│ null              │
│ null              │
│ null              │
│ null              │
│ null              │
│ null              │
│ null              │
│ 5e6               │
│ null              │
│ null              │
│ null              │
│ null              │
│ null              │
│ 6.80692e7         │
└───────────────────┘

--- Current Dtype ---
[Float64]

### Cleaning df_unicorn

In [10]:
# Set Polars display option to show all 44 rows (we set to 50 for safety)
# This uses the correct pl.Config method for your Polars version.
pl.Config.set_tbl_rows(50)

# --- Null Percentage Calculation for df_companies ---

# 2. Get the total number of rows
total_rows = df_unicorn.height

# 3. Select all columns, apply the null count logic, and calculate percentage
null_counts_df = df_unicorn.select(
    (pl.col("*").null_count() / total_rows) * 100
)

# 4. Extract column names and percentage values
column_names = null_counts_df.columns
percentage_values = null_counts_df.row(0) 

# 5. Create the final DataFrame
null_report_final = pl.DataFrame({
    "Column Name": column_names,
    "Null Percentage (%)": pl.Series(percentage_values)
})

# 6. Sort the report to see the highest percentage of nulls first
final_report_sorted = null_report_final.sort("Null Percentage (%)", descending=True)

# Print the final report (now showing all 44 rows)
print("--- Full Null Percentage Report (df_companies) ---")
print(final_report_sorted)

--- Full Null Percentage Report (df_companies) ---
shape: (13, 2)
┌───────────────────┬─────────────────────┐
│ Column Name       ┆ Null Percentage (%) │
│ ---               ┆ ---                 │
│ str               ┆ f64                 │
╞═══════════════════╪═════════════════════╡
│ Financial Stage   ┆ 95.274831           │
│ Portfolio Exits   ┆ 95.274831           │
│ Founded Year      ┆ 4.146577            │
│ Deal Terms        ┆ 2.796528            │
│ Total Raised      ┆ 2.314368            │
│ Select Inverstors ┆ 1.639344            │
│ Investors Count   ┆ 0.096432            │
│ Company           ┆ 0.0                 │
│ Valuation ($B)    ┆ 0.0                 │
│ Date Joined       ┆ 0.0                 │
│ Country           ┆ 0.0                 │
│ City              ┆ 0.0                 │
│ Industry          ┆ 0.0                 │
└───────────────────┴─────────────────────┘

In [11]:
# Keeping columns with relevant information and low number of nulls
cols_keep = [
    'Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City', 
    'Industry', 'Select Inverstors', 'Founded Year', 'Total Raised', 
    'Investors Count', 'Deal Terms'
]
df_unicorn_filtered = df_unicorn.select(cols_keep)

# Print the shape to confirm the number of columns
print(f"Original columns: {df_unicorn.width}")
print(f"Filtered columns: {df_unicorn_filtered.width}")
df_unicorn_filtered

Original columns: 13
Filtered columns: 11

shape: (1_037, 11)
┌────────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────┐
│ Company    ┆ Valuation  ┆ Date       ┆ Country   ┆ … ┆ Founded   ┆ Total     ┆ Investors ┆ Deal  │
│ ---        ┆ ($B)       ┆ Joined     ┆ ---       ┆   ┆ Year      ┆ Raised    ┆ Count     ┆ Terms │
│ str        ┆ ---        ┆ ---        ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---   │
│            ┆ str        ┆ str        ┆           ┆   ┆ i64       ┆ str       ┆ i64       ┆ i64   │
╞════════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════╡
│ Bytedance  ┆ $140       ┆ 4/7/2017   ┆ China     ┆ … ┆ 2012      ┆ $7.44B    ┆ 28        ┆ 8     │
│ SpaceX     ┆ $100.3     ┆ 12/1/2012  ┆ United    ┆ … ┆ 2002      ┆ $6.874B   ┆ 29        ┆ 12    │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Stripe     ┆ $95        ┆ 1/23/2014  ┆ United    ┆ … ┆ 2010      ┆ $2.901B   ┆ 39        ┆ 12    │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Klarna     ┆ $45.6      ┆ 12/12/2011 ┆ Sweden    ┆ … ┆ 2005      ┆ $3.472B   ┆ 56        ┆ 13    │
│ Epic Games ┆ $42        ┆ 10/26/2018 ┆ United    ┆ … ┆ 1991      ┆ $4.377B   ┆ 25        ┆ 5     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Canva      ┆ $40        ┆ 1/8/2018   ┆ Australia ┆ … ┆ 2012      ┆ $571.26M  ┆ 26        ┆ 8     │
│ Checkout.c ┆ $40        ┆ 5/2/2019   ┆ United    ┆ … ┆ 2012      ┆ $1.83B    ┆ 15        ┆ 4     │
│ om         ┆            ┆            ┆ Kingdom   ┆   ┆           ┆           ┆           ┆       │
│ Instacart  ┆ $39        ┆ 12/30/2014 ┆ United    ┆ … ┆ 2012      ┆ $2.686B   ┆ 29        ┆ 12    │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Databricks ┆ $38        ┆ 2/5/2019   ┆ United    ┆ … ┆ 2013      ┆ $3.497B   ┆ 29        ┆ 8     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Revolut    ┆ $33        ┆ 4/26/2018  ┆ United    ┆ … ┆ 2015      ┆ $1.716B   ┆ 31        ┆ 6     │
│            ┆            ┆            ┆ Kingdom   ┆   ┆           ┆           ┆           ┆       │
│ FTX        ┆ $32        ┆ 7/20/2021  ┆ Bahamas   ┆ … ┆ 2018      ┆ $1.829B   ┆ 40        ┆ 3     │
│ Fanatics   ┆ $27        ┆ 6/6/2012   ┆ United    ┆ … ┆ 1995      ┆ $4.19B    ┆ 21        ┆ 10    │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Chime      ┆ $25        ┆ 3/5/2019   ┆ United    ┆ … ┆ 2013      ┆ $2.599B   ┆ 24        ┆ 9     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ BYJU's     ┆ $21        ┆ 7/25/2017  ┆ India     ┆ … ┆ 2008      ┆ $5.183B   ┆ 45        ┆ 19    │
│ Xiaohongsh ┆ $20        ┆ 3/31/2016  ┆ China     ┆ … ┆ 2013      ┆ $917.5M   ┆ 9         ┆ 3     │
│ u          ┆            ┆            ┆           ┆   ┆           ┆           ┆           ┆       │
│ J&T        ┆ $20        ┆ 4/7/2021   ┆ Indonesia ┆ … ┆ 2015      ┆ $4.653B   ┆ 9         ┆ 3     │
│ Express    ┆            ┆            ┆           ┆   ┆           ┆           ┆           ┆       │
│ Miro       ┆ $17.5      ┆ 1/5/2022   ┆ United    ┆ … ┆ 2011      ┆ $475M     ┆ 18        ┆ 1     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Yuanfudao  ┆ $15.5      ┆ 5/31/2017  ┆ China     ┆ … ┆ 2012      ┆ $4.044B   ┆ 18        ┆ 7     │
│ DJI Innova ┆ $15        ┆ 1/23/2015  ┆ China     ┆ … ┆ 2006      ┆ $1.135B   ┆ 7         ┆ 3     │
│ tions      ┆            ┆            ┆           ┆   ┆           ┆           ┆           ┆       │
│ SHEIN      ┆ $15        ┆ 7/3/2018   ┆ China     ┆ … ┆ 2008      ┆ $553.36M  ┆ 8         ┆ 3     │
│ goPuff     ┆ $15        ┆ 10/8/2020  ┆ United    ┆ … ┆ 2013      ┆ $3.397B   ┆ 16        ┆ 4     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Yuanqi     ┆ $15        ┆ 3/1/2020   ┆ China     ┆ … ┆ 2016      ┆ $721.31M  ┆ 13        ┆ 3     │
│ Senlin     ┆            ┆            ┆           ┆   ┆           ┆           ┆           ┆       │
│ Ripple     ┆ $15        ┆ 12/20/2019 ┆ United    ┆ … ┆ 2012      ┆ $293.9M   ┆ 34        ┆ 5     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Plaid      ┆ $13.4      ┆ 12/11/2018 ┆ United    ┆ … ┆ 2012      ┆ $734.8M   ┆ 24        ┆ 5     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ OpenSea    ┆ $13.3      ┆ 7/20/2021  ┆ United    ┆ … ┆ 2017      ┆ $425.12M  ┆ 26        ┆ 2     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ …          ┆ …          ┆ …          ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …     │
│ Kopi       ┆ $1         ┆ 12/27/2021 ┆ Indonesia ┆ … ┆ 2017      ┆ $233M     ┆ 13        ┆ 1     │
│ Kenangan   ┆            ┆            ┆           ┆   ┆           ┆           ┆           ┆       │
│ InFarm     ┆ $1         ┆ 12/16/2021 ┆ Germany   ┆ … ┆ 2013      ┆ $601.59M  ┆ 22        ┆ 2     │
│ ONE        ┆ $1         ┆ 12/8/2021  ┆ Singapore ┆ … ┆ 2011      ┆ $486M     ┆ 11        ┆ 1     │
│ Fractal    ┆ $1         ┆ 1/5/2022   ┆ India     ┆ … ┆ 2000      ┆ $688M     ┆ 6         ┆ 3     │
│ Analytics  ┆            ┆            ┆           ┆   ┆           ┆           ┆           ┆       │
│ Assent     ┆ $1         ┆ 1/6/2022   ┆ Canada    ┆ … ┆ 2005      ┆ $501.64M  ┆ 8         ┆ 3     │
│ Compliance ┆            ┆            ┆           ┆   ┆           ┆           ┆           ┆       │
│ CAIS       ┆ $1         ┆ 1/11/2022  ┆ United    ┆ … ┆ 2009      ┆ $283M     ┆ 7         ┆ 2     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Placer.ai  ┆ $1         ┆ 1/12/2022  ┆ United    ┆ … ┆ 2016      ┆ $166.34M  ┆ 19        ┆ 1     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Pentera    ┆ $1         ┆ 1/11/2022  ┆ Israel    ┆ … ┆ 2015      ┆ $185M     ┆ 6         ┆ 1     │
│ Darwinbox  ┆ $1         ┆ 1/25/2022  ┆ India     ┆ … ┆ 2015      ┆ $106.7M   ┆ 10        ┆ 2     │
│ Minio      ┆ $1         ┆ 1/26/2022  ┆ United    ┆ … ┆ 2014      ┆ $126.3M   ┆ 13        ┆ 2     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Fever Labs ┆ $1         ┆ 1/26/2022  ┆ United    ┆ … ┆ 2012      ┆ $315.43M  ┆ 26        ┆ 4     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Esusu      ┆ $1         ┆ 1/27/2022  ┆ United    ┆ … ┆ 2015      ┆ $144.43M  ┆ 25        ┆ 1     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Betterfly  ┆ $1         ┆ 2/1/2022   ┆ Chile     ┆ … ┆ 2018      ┆ $202.5M   ┆ 13        ┆ 1     │
│ Dune       ┆ $1         ┆ 2/2/2022   ┆ Norway    ┆ … ┆ 2018      ┆ $79.42M   ┆ 12        ┆ 1     │
│ Analytics  ┆            ┆            ┆           ┆   ┆           ┆           ┆           ┆       │
│ Scandit    ┆ $1         ┆ 2/9/2022   ┆ Switzerla ┆ … ┆ 2009      ┆ $273M     ┆ 12        ┆ 3     │
│            ┆            ┆            ┆ nd        ┆   ┆           ┆           ┆           ┆       │
│ Payhawk    ┆ $1         ┆ 2/14/2022  ┆ United    ┆ … ┆ 2018      ┆ $236.5M   ┆ 15        ┆ 2     │
│            ┆            ┆            ┆ Kingdom   ┆   ┆           ┆           ┆           ┆       │
│ Watershed  ┆ $1         ┆ 2/8/2022   ┆ United    ┆ … ┆ null      ┆ $70M      ┆ 4         ┆ 1     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Axelar     ┆ $1         ┆ 2/15/2022  ┆ Canada    ┆ … ┆ 2020      ┆ $63.75M   ┆ 26        ┆ 1     │
│ CHEQ       ┆ $1         ┆ 2/22/2022  ┆ United    ┆ … ┆ 2014      ┆ $171M     ┆ 6         ┆ 2     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Hasura     ┆ $1         ┆ 2/22/2022  ┆ India     ┆ … ┆ 2017      ┆ $136.51M  ┆ 11        ┆ 1     │
│ Timescale  ┆ $1         ┆ 2/22/2022  ┆ United    ┆ … ┆ 2015      ┆ $181.06M  ┆ 7         ┆ 2     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Scalapay   ┆ $1         ┆ 2/23/2022  ┆ Italy     ┆ … ┆ 2019      ┆ $700M     ┆ 10        ┆ 2     │
│ Omada      ┆ $1         ┆ 2/23/2022  ┆ United    ┆ … ┆ 2011      ┆ $449.72M  ┆ 30        ┆ 6     │
│ Health     ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ BlueVoyant ┆ $1         ┆ 2/23/2022  ┆ United    ┆ … ┆ 2017      ┆ $525.5M   ┆ 6         ┆ 2     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Veev       ┆ $1         ┆ 2/24/2022  ┆ United    ┆ … ┆ 2008      ┆ $604.5M   ┆ 11        ┆ 1     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
└────────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────┘

In [12]:
# Remove quotes AND strip whitespace

df_unicorn_filtered = df_unicorn_filtered.with_columns(
    pl.col(pl.Utf8)
      # 1. First transformation: Remove double quotes (")
      .str.replace_all('"', "")
      # 2. Second transformation: Remove leading/trailing whitespace explicitly
      .str.strip_chars() 
      # 3. Keep the original column names
      .name.keep()
)

# Display the first few rows to verify both changes
print("--- DataFrame after removing quotes AND stripping whitespace ---")
print(df_unicorn_filtered.head())

--- DataFrame after removing quotes AND stripping whitespace ---
shape: (5, 11)
┌────────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────┐
│ Company    ┆ Valuation  ┆ Date       ┆ Country   ┆ … ┆ Founded   ┆ Total     ┆ Investors ┆ Deal  │
│ ---        ┆ ($B)       ┆ Joined     ┆ ---       ┆   ┆ Year      ┆ Raised    ┆ Count     ┆ Terms │
│ str        ┆ ---        ┆ ---        ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---   │
│            ┆ str        ┆ str        ┆           ┆   ┆ i64       ┆ str       ┆ i64       ┆ i64   │
╞════════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════╡
│ Bytedance  ┆ $140       ┆ 4/7/2017   ┆ China     ┆ … ┆ 2012      ┆ $7.44B    ┆ 28        ┆ 8     │
│ SpaceX     ┆ $100.3     ┆ 12/1/2012  ┆ United    ┆ … ┆ 2002      ┆ $6.874B   ┆ 29        ┆ 12    │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Stripe     ┆ $95        ┆ 1/23/2014  ┆ United    ┆ … ┆ 2010      ┆ $2.901B   ┆ 39        ┆ 12    │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
│ Klarna     ┆ $45.6      ┆ 12/12/2011 ┆ Sweden    ┆ … ┆ 2005      ┆ $3.472B   ┆ 56        ┆ 13    │
│ Epic Games ┆ $42        ┆ 10/26/2018 ┆ United    ┆ … ┆ 1991      ┆ $4.377B   ┆ 25        ┆ 5     │
│            ┆            ┆            ┆ States    ┆   ┆           ┆           ┆           ┆       │
└────────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────┘

In [13]:
# Replace original string column 'Date Joined' with only the Year (Integer)

df_unicorn_filtered = df_unicorn_filtered.with_columns(
    # 1. Replace 'Date Joined' with just the year (Integer)
    pl.col("Date Joined")
      # CORRECTED FORMAT: Use %m/%d/%Y to match '4/7/2017'
      .str.to_datetime(format="%m/%d/%Y", strict=False) 
      .dt.year()                                       
      .alias("Date Joined")                            
)

# Display the head to confirm columns now contain years (Integers)
print("--- DataFrame after Replacing Dates with Year (Integer) ---")
print(df_unicorn_filtered.head().select(['Date Joined']))

--- DataFrame after Replacing Dates with Year (Integer) ---
shape: (5, 1)
┌─────────────┐
│ Date Joined │
│ ---         │
│ i32         │
╞═════════════╡
│ 2017        │
│ 2012        │
│ 2014        │
│ 2011        │
│ 2018        │
└─────────────┘

In [14]:
# Standardize column names (lowercase, replace spaces with _)

def standardize_col_name(name: str) -> str:
    """Converts column name to lowercase and replaces spaces with underscores."""
    # 1. Convert to lowercase
    name = name.lower()
    # 2. Replace spaces with _
    name = name.replace(' ', '_')
    # 3. Replace other characters that might cause issues (e.g., $, (, ), etc.)
    # This is optional but recommended for robustness
    for char in ['$', '(', ')', ',']:
        name = name.replace(char, '')
    
    return name

# Apply the standardization function to all column names
new_column_names = [standardize_col_name(col) for col in df_unicorn_filtered.columns]

# Create a mapping dictionary: {'Old Name': 'new_name'}
column_mapping = dict(zip(df_unicorn_filtered.columns, new_column_names))

# Rename the columns using .rename()
df_unicorn_filtered = df_unicorn_filtered.rename(column_mapping)


print("--- New Columns of df_unicorn_filtered ---")
print(df_unicorn_filtered.columns)
print("\n--- Head of DataFrame with Standardized Columns ---")
print(df_unicorn_filtered.head())

--- New Columns of df_unicorn_filtered ---
['company', 'valuation_b', 'date_joined', 'country', 'city', 'industry', 'select_inverstors', 'founded_year', 'total_raised', 'investors_count', 'deal_terms']

--- Head of DataFrame with Standardized Columns ---
shape: (5, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ company   ┆ valuation ┆ date_join ┆ country   ┆ … ┆ founded_y ┆ total_rai ┆ investors ┆ deal_ter │
│ ---       ┆ _b        ┆ ed        ┆ ---       ┆   ┆ ear       ┆ sed       ┆ _count    ┆ ms       │
│ str       ┆ ---       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│           ┆ str       ┆ i32       ┆           ┆   ┆ i64       ┆ str       ┆ i64       ┆ i64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Bytedance ┆ $140      ┆ 2017      ┆ China     ┆ … ┆ 2012      ┆ $7.44B    ┆ 28        ┆ 8        │
│ SpaceX    ┆ $100.3    ┆ 2012      ┆ United    ┆ … ┆ 2002      ┆ $6.874B   ┆ 29        ┆ 12       │
│           ┆           ┆           ┆ States    ┆   ┆           ┆           ┆           ┆          │
│ Stripe    ┆ $95       ┆ 2014      ┆ United    ┆ … ┆ 2010      ┆ $2.901B   ┆ 39        ┆ 12       │
│           ┆           ┆           ┆ States    ┆   ┆           ┆           ┆           ┆          │
│ Klarna    ┆ $45.6     ┆ 2011      ┆ Sweden    ┆ … ┆ 2005      ┆ $3.472B   ┆ 56        ┆ 13       │
│ Epic      ┆ $42       ┆ 2018      ┆ United    ┆ … ┆ 1991      ┆ $4.377B   ┆ 25        ┆ 5        │
│ Games     ┆           ┆           ┆ States    ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [15]:
# Function to clean symbols ($, ,) and strip whitespace
def clean_numeric_string(col_expr):
    """Removes $ and commas, and strips whitespace."""
    if isinstance(col_expr, str):
        col_expr = pl.col(col_expr)
    
    # We rely on previous global .str.strip_chars() but put it here for safety.
    return col_expr.str.replace_all('$', '', literal=True).str.replace_all(',', '', literal=True).str.strip_chars()

In [16]:
# Final Conversion Step: Reintroducing cast with strict=False to bypass complex expression error
# This block uses the clean_numeric_string function defined in the previous cell.

df_unicorn_filtered = df_unicorn_filtered.with_columns(
    
    # -------------------------------------------------------------
    # --- 1. Valuation ($B) ---
    # -------------------------------------------------------------
    clean_numeric_string("valuation_b")
      # FIX: Use strict=False to ensure Polars handles potential parsing issues gracefully (returns Null on fail).
      .cast(pl.Float64, strict=False) 
      .alias("valuation_usd_b"),

    # -------------------------------------------------------------
    # --- 2. Total Raised ($M/$B) - In Billions (B) ---
    # -------------------------------------------------------------
    pl.col("total_raised")
      .str.to_uppercase() 
      
      .pipe(lambda s: 
            # If 'B': Remove 'B', clean, and cast.
            pl.when(s.str.ends_with('B'))
              .then(clean_numeric_string(s).str.replace_all('B', '', literal=True).cast(pl.Float64, strict=False))
            
            # If 'M': Remove 'M', clean, cast, and divide by 1000.
            .when(s.str.ends_with('M'))
              .then(clean_numeric_string(s).str.replace_all('M', '', literal=True).cast(pl.Float64, strict=False) / 1000)
            
            # If neither M nor B: Clean the string and attempt final cast.
            .otherwise(
                clean_numeric_string(s).cast(pl.Float64, strict=False) 
            )
      )
      .alias("total_raised_usd_b")
)

# Display the results and dtypes to confirm
print("--- Conversão Final de Colunas Financeiras ---")
print(df_unicorn_filtered.head().select(['valuation_b', 'valuation_usd_b', 'total_raised', 'total_raised_usd_b']))
print("\n--- Dtypes Check for New Columns ---")
print(df_unicorn_filtered.select(['valuation_usd_b', 'total_raised_usd_b']).dtypes)

--- Conversão Final de Colunas Financeiras ---
shape: (5, 4)
┌─────────────┬─────────────────┬──────────────┬────────────────────┐
│ valuation_b ┆ valuation_usd_b ┆ total_raised ┆ total_raised_usd_b │
│ ---         ┆ ---             ┆ ---          ┆ ---                │
│ str         ┆ f64             ┆ str          ┆ f64                │
╞═════════════╪═════════════════╪══════════════╪════════════════════╡
│ $140        ┆ 140.0           ┆ $7.44B       ┆ 7.44               │
│ $100.3      ┆ 100.3           ┆ $6.874B      ┆ 6.874              │
│ $95         ┆ 95.0            ┆ $2.901B      ┆ 2.901              │
│ $45.6       ┆ 45.6            ┆ $3.472B      ┆ 3.472              │
│ $42         ┆ 42.0            ┆ $4.377B      ┆ 4.377              │
└─────────────┴─────────────────┴──────────────┴────────────────────┘

--- Dtypes Check for New Columns ---
[Float64, Float64]

In [17]:
print(df_unicorn_filtered.head())

shape: (5, 13)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ company   ┆ valuation ┆ date_join ┆ country   ┆ … ┆ investors ┆ deal_term ┆ valuation ┆ total_ra │
│ ---       ┆ _b        ┆ ed        ┆ ---       ┆   ┆ _count    ┆ s         ┆ _usd_b    ┆ ised_usd │
│ str       ┆ ---       ┆ ---       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ _b       │
│           ┆ str       ┆ i32       ┆           ┆   ┆ i64       ┆ i64       ┆ f64       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Bytedance ┆ $140      ┆ 2017      ┆ China     ┆ … ┆ 28        ┆ 8         ┆ 140.0     ┆ 7.44     │
│ SpaceX    ┆ $100.3    ┆ 2012      ┆ United    ┆ … ┆ 29        ┆ 12        ┆ 100.3     ┆ 6.874    │
│           ┆           ┆           ┆ States    ┆   ┆           ┆           ┆           ┆          │
│ Stripe    ┆ $95       ┆ 2014      ┆ United    ┆ … ┆ 39        ┆ 12        ┆ 95.0      ┆ 2.901    │
│           ┆           ┆           ┆ States    ┆   ┆           ┆           ┆           ┆          │
│ Klarna    ┆ $45.6     ┆ 2011      ┆ Sweden    ┆ … ┆ 56        ┆ 13        ┆ 45.6      ┆ 3.472    │
│ Epic      ┆ $42       ┆ 2018      ┆ United    ┆ … ┆ 25        ┆ 5         ┆ 42.0      ┆ 4.377    │
│ Games     ┆           ┆           ┆ States    ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [18]:
# Convert 'investors_count' to Int64, handling potential non-numeric strings with strict=False.
df_unicorn_filtered = df_unicorn_filtered.with_columns(
    pl.col("investors_count")
      .cast(pl.Int64, strict=False)
      .alias("investors_count")
)

In [19]:
# Unique values of 'select_inverstors'
unique_investors_count = df_unicorn_filtered.select(
    pl.col("select_inverstors").n_unique()
).item() 
print(f"The column 'select_inverstors' has {unique_investors_count} unique values.")

The column 'select_inverstors' has 1006 unique values.

In [20]:
# Inspection Step: Check types and unique values for remaining columns

print("--- Dtypes Check (Focusing on Remaining Columns) ---")
# We include 'investors_count' here to confirm the Int64 conversion took place
print(df_unicorn_filtered.select(['deal_terms', 'select_inverstors', 'date_joined', 'founded_year', 'investors_count']).dtypes)

print("\n--- Unique Values for 'deal_terms' (Top 10) ---")
# Check the content of deal_terms
try:
    print(df_unicorn_filtered.select('deal_terms').value_counts().head(10))
except Exception:
    print("Could not display value counts for deal_terms. Moving on.")


print("\n--- Unique Values for 'portfolio_exits' (Top 10) ---")
# Check if 'portfolio_exits' exists and its values
try:
    print(df_unicorn_filtered.select('portfolio_exits').value_counts().head(10))
except Exception as e:
    print(f"Could not check 'portfolio_exits'. It might not exist or is named differently. Error: {e}")

--- Dtypes Check (Focusing on Remaining Columns) ---
[Int64, String, Int32, Int64, Int64]

--- Unique Values for 'deal_terms' (Top 10) ---
Could not display value counts for deal_terms. Moving on.

--- Unique Values for 'portfolio_exits' (Top 10) ---
Could not check 'portfolio_exits'. It might not exist or is named differently. Error: unable to find column "portfolio_exits"; valid columns: ["company", "valuation_b", "date_joined", "country", "city", "industry", "select_inverstors", "founded_year", "total_raised", "investors_count", "deal_terms", "valuation_usd_b", "total_raised_usd_b"]

In [21]:
# Clean and Convert 'deal_terms' to Integer (Int64) using sequential literal replacements.
df_unicorn_filtered = df_unicorn_filtered.with_columns(
    pl.col("deal_terms")
      .cast(pl.String)  # Convert to String first for cleaning
      # FIX: Use multiple literal replace_all calls instead of regex=True
      .str.replace_all("-", "", literal=True)
      .str.replace_all("/", "", literal=True)
      .str.replace_all("NA", "", literal=True) 
      .str.strip_chars() # Remove any remaining whitespace
      .cast(pl.Int64, strict=False) # Convert to Int64, replacing failed conversions with Null
      .alias("deal_terms")
)
print("--- 'deal_terms' has been cleaned and cast to Int64 (Nulls introduced for bad values) ---")

--- 'deal_terms' has been cleaned and cast to Int64 (Nulls introduced for bad values) ---

In [22]:
# Define a final column order and remove redundant/missing columns.
final_column_order_unicorn = [
    "company",
    "country",
    "city",
    "industry",
    "date_joined",
    "founded_year",
    "valuation_usd_b",          # Cleaned Float64 (Billion USD)
    "total_raised_usd_b",       # Cleaned Float64 (Billion USD)
    "investors_count",          # Cleaned Int64
    "deal_terms",               # Cleaned Int64 (or Null)
    "select_inverstors",        # Textual (to be kept as is)
]

# Apply the selection and reordering.
df_unicorn_filtered = df_unicorn_filtered.select(final_column_order_unicorn)

# Display the final, cleaned DataFrame structure.
print("\n--- Final Cleaned and Reordered DataFrame (df_unicorn_filtered) ---")
print(df_unicorn_filtered.head())
print("\n--- Final Dtypes for df_unicorn_filtered ---")
print(df_unicorn_filtered.dtypes)

--- Final Cleaned and Reordered DataFrame (df_unicorn_filtered) ---
shape: (5, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ company   ┆ country   ┆ city      ┆ industry  ┆ … ┆ total_rai ┆ investors ┆ deal_term ┆ select_i │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ sed_usd_b ┆ _count    ┆ s         ┆ nverstor │
│ str       ┆ str       ┆ str       ┆ str       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ s        │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆ i64       ┆ i64       ┆ ---      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Bytedance ┆ China     ┆ Beijing   ┆ Artificia ┆ … ┆ 7.44      ┆ 28        ┆ 8         ┆ Sequoia  │
│           ┆           ┆           ┆ l intelli ┆   ┆           ┆           ┆           ┆ Capital  │
│           ┆           ┆           ┆ gence     ┆   ┆           ┆           ┆           ┆ China,   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ SIG Asi… │
│ SpaceX    ┆ United    ┆ Hawthorne ┆ Other     ┆ … ┆ 6.874     ┆ 29        ┆ 12        ┆ Founders │
│           ┆ States    ┆           ┆           ┆   ┆           ┆           ┆           ┆ Fund,    │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Draper   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Fisher   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ J…       │
│ Stripe    ┆ United    ┆ San       ┆ Fintech   ┆ … ┆ 2.901     ┆ 39        ┆ 12        ┆ Khosla   │
│           ┆ States    ┆ Francisco ┆           ┆   ┆           ┆           ┆           ┆ Ventures │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ , Lowerc │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ aseCapi… │
│ Klarna    ┆ Sweden    ┆ Stockholm ┆ Fintech   ┆ … ┆ 3.472     ┆ 56        ┆ 13        ┆ Institut │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ ional    │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Venture  │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Partners │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ …        │
│ Epic      ┆ United    ┆ Cary      ┆ Other     ┆ … ┆ 4.377     ┆ 25        ┆ 5         ┆ Tencent  │
│ Games     ┆ States    ┆           ┆           ┆   ┆           ┆           ┆           ┆ Holdings │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ , KKR,   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Smash V… │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

--- Final Dtypes for df_unicorn_filtered ---
[String, String, String, String, Int32, Int64, Float64, Float64, Int64, Int64, String]

### Merging dfs

In [23]:
# Final Step: Rename and Drop for Merge Preparation

# 1. Renomear as colunas para padronização
df_companies_filtered = df_companies_filtered.rename({
    "name": "company",
    "country_code": "country",
    "founded_at": "founded_year",
    "category_code": "industry",
})

# 2. Remover colunas desnecessárias
df_companies_filtered = df_companies_filtered.drop(['created_at', 'region'])

# 3. Listar as colunas novamente para confirmar que a ação foi bem-sucedida
print("--- SUCESSO: Colunas de df_companies_filtered após Renomeação ---")
print(df_companies_filtered.columns)

print("\n--- df_unicorn_filtered (para comparação) ---")
print(df_unicorn_filtered.columns)

--- SUCESSO: Colunas de df_companies_filtered após Renomeação ---
['company', 'country', 'city', 'founded_year', 'funding_total_usd', 'funding_rounds', 'industry', 'status']

--- df_unicorn_filtered (para comparação) ---
['company', 'country', 'city', 'industry', 'date_joined', 'founded_year', 'valuation_usd_b', 'total_raised_usd_b', 'investors_count', 'deal_terms', 'select_inverstors']

In [24]:
# 1. Extract ALL unique countries from df_unicorn_filtered (Long Names)
unicorn_countries_list = df_unicorn_filtered.select('country').unique().to_series().to_list()

# 2. Extract ALL unique countries/codes from df_companies_filtered (Codes/Mixed)
companies_countries_list = df_companies_filtered.select('country').unique().to_series().to_list()

print("--- Full List of Unique Countries in df_unicorn_filtered (Long Names) ---")
print(unicorn_countries_list)
print(f"Total Unique Countries in Unicorn DF: {len(unicorn_countries_list)}\n")

print("--- Full List of Unique Countries in df_companies_filtered (Codes/Mixed) ---")
print(companies_countries_list)
print(f"Total Unique Countries in Companies DF: {len(companies_countries_list)}")

--- Full List of Unique Countries in df_unicorn_filtered (Long Names) ---
['Bahamas', 'Sweden', 'Ireland', 'United Kingdom', 'Estonia', 'Thailand', 'Switzerland', 'Japan', 'Turkey', 'Italy', 'Finland', 'Germany', 'Czech Republic', 'Croatia', 'Lithuania', 'Indonesia', 'United States', 'France', 'India', 'Belgium', 'South Africa', 'Austria', 'Chile', 'Bermuda', 'Mexico', 'Canada', 'Denmark', 'Vietnam', 'Singapore', 'Spain', 'Australia', 'Senegal', 'China', 'Hong Kong', 'Nigeria', 'Israel', 'Colombia', 'Netherlands', 'Luxembourg', 'Brazil', 'Philippines', 'South Korea', 'Norway', 'Malaysia', 'Argentina', 'United Arab Emirates']
Total Unique Countries in Unicorn DF: 46

--- Full List of Unique Countries in df_companies_filtered (Codes/Mixed) ---
['PRY', 'MDA', 'CAN', 'NGA', 'SUR', 'BHR', 'PAK', 'LSO', 'NIC', 'SOM', 'NRU', 'TZA', 'NZL', 'UZB', 'BHS', 'SWZ', 'ARA', 'BDI', 'CIV', 'ISR', 'RUS', 'KEN', 'IDN', 'RWA', 'AFG', 'ESP', 'NFK', 'ETH', 'HMI', 'EST', 'SVN', 'REU', 'CYP', 'IRL', 'FST', 'HRV', 'MUS', 'CYM', 'BWA', 'CHN', 'PRT', 'GEO', 'GTM', 'SLE', 'SVK', 'HTI', 'QAT', 'NER', 'SMR', 'GRC', 'TUN', 'MMR', 'IND', 'GBR', 'SGP', 'CHE', 'MLT', 'SYC', 'DEU', 'ISL', 'BRB', 'SYR', 'BGD', 'VEN', 'FIN', 'BLZ', 'AIA', 'ITA', 'ARG', 'ZMB', 'GLP', 'LUX', 'POL', 'ANT', 'PRK', 'KHM', 'ZAF', 'TTO', 'SLV', 'NLD', 'BEN', 'COL', 'CZE', 'ECU', 'USA', 'TJK', 'DOM', 'HUN', 'BEL', 'MDV', 'KAZ', 'CUB', 'NOR', 'CHL', 'MEX', 'PST', 'OMN', None, 'AUS', 'MYS', 'ATG', 'ARM', 'LTU', 'ALB', 'MTQ', 'FRA', 'CMR', 'ARE', 'SDN', 'JAM', 'ZWE', 'VIR', 'MAR', 'SAU', 'YEM', 'IRQ', 'PCN', 'PAN', 'MKD', 'AND', 'MCO', 'MDG', 'BIH', 'AZE', 'DMA', 'THA', 'LKA', 'KWT', 'SEN', 'KGZ', 'GIN', 'DZA', 'IRN', 'LIE', 'VGB', 'AUT', 'CSS', 'LBN', 'DNK', 'BOL', 'KOR', 'SWE', 'LVA', 'UMI', 'VNM', 'NCL', 'TWN', 'TUR', 'BRA', 'ROM', 'HKG', 'MAC', 'BGR', 'HND', 'PRI', 'JPN', 'CRI', 'EGY', 'JOR', 'GIB', 'URY', 'IOT', 'GRD', 'GHA', 'BRN', 'VCT', 'UKR', 'NPL', 'UGA', 'PER', 'BLR', 'BMU', 'LAO', 'AGO', 'NAM', 'PHL']
Total Unique Countries in Companies DF: 176

In [48]:
# --- COUNTRY STANDARDIZATION MAP ---
country_mapping_complete = {
    "HKG": "Hong Kong", # Assuming you want to standardize HKG to the long name "Hong Kong"
    "LSO": "Lesotho", 
    "TZA": "Tanzania", 
    "JPN": "Japan", 
    "CZE": "Czech Republic", 
    "AFG": "Afghanistan", 
    "ESP": "Spain", 
    "LBN": "Lebanon", 
    "FIN": "Finland", 
    "BRA": "Brazil", 
    "DOM": "Dominican Republic", 
    "CMR": "Cameroon", 
    "BHS": "Bahamas", 
    "RUS": "Russia", 
    "SYR": "Syria", 
    "UKR": "Ukraine", 
    "SVK": "Slovakia", 
    "GIB": "Gibraltar", 
    "ZAF": "South Africa", 
    "LVA": "Latvia", 
    "SLE": "Sierra Leone", 
    "LUX": "Luxembourg", 
    "MDA": "Moldova", 
    "MCO": "Monaco", 
    "BRN": "Brunei", 
    "KGZ": "Kyrgyzstan", 
    "BEN": "Benin", 
    "LAO": "Laos", 
    "IRN": "Iran", 
    "IDN": "Indonesia", 
    "SEN": "Senegal", 
    "NLD": "Netherlands", 
    "CHL": "Chile", 
    "KOR": "South Korea", 
    "HRV": "Croatia", 
    "MTQ": "Martinique", 
    "MAR": "Morocco", 
    "SYC": "Seychelles", 
    "TTO": "Trinidad and Tobago", 
    "ZMB": "Zambia", 
    "QAT": "Qatar", 
    "SAU": "Saudi Arabia", 
    "BGR": "Bulgaria", 
    "NPL": "Nepal", 
    "BRB": "Barbados", 
    "ARM": "Armenia", 
    "IRQ": "Iraq", 
    "KHM": "Cambodia", 
    "CRI": "Costa Rica", 
    "GRC": "Greece", 
    "MAC": "Macao", 
    "ROM": "Romania", 
    "NER": "Niger", 
    "MDG": "Madagascar", 
    "NRU": "Nauru", 
    "BIH": "Bosnia and Herzegovina", 
    "MDV": "Maldives", 
    "NZL": "New Zealand", 
    "PHL": "Philippines", 
    "KEN": "Kenya", 
    "GLP": "Guadeloupe", 
    "ALB": "Albania", 
    "POL": "Poland", 
    "VGB": "British Virgin Islands", 
    "BLZ": "Belize", 
    "KWT": "Kuwait", 
    "UGA": "Uganda", 
    "ARA": "United Arab Emirates", # Assuming ARA is a typo or non-standard code for UAE
    "GIN": "Guinea", 
    "BHR": "Bahrain", 
    "ISL": "Iceland", 
    "VCT": "Saint Vincent and the Grenadines", 
    "HTI": "Haiti", 
    "CYP": "Cyprus", 
    "GRD": "Grenada", 
    "ITA": "Italy", 
    "PAK": "Pakistan", 
    "FRA": "France", 
    "MYS": "Malaysia", 
    "TWN": "Taiwan", 
    "TUR": "Turkey", 
    "CUB": "Cuba", 
    "AIA": "Anguilla", 
    "NAM": "Namibia", 
    "PRT": "Portugal", 
    "ANT": "Netherlands Antilles", 
    "TJK": "Tajikistan", 
    "PRK": "North Korea", 
    "PCN": "Pitcairn Islands", 
    "BDI": "Burundi", 
    "KAZ": "Kazakhstan", 
    "SMR": "San Marino", 
    "BGD": "Bangladesh", 
    "ETH": "Ethiopia", 
    "MLT": "Malta", 
    "NIC": "Nicaragua", 
    "LKA": "Sri Lanka", 
    "HMI": "Heard and McDonald Islands", # Likely junk or highly specific code
    "PRY": "Paraguay", 
    "MKD": "North Macedonia", 
    "ECU": "Ecuador", 
    "TUN": "Tunisia", 
    "SUR": "Suriname", 
    "SDN": "Sudan", 
    "CHE": "Switzerland", 
    "URY": "Uruguay", 
    "RWA": "Rwanda", 
    "MUS": "Mauritius", 
    "DMA": "Dominica", 
    "NOR": "Norway", 
    "ATG": "Antigua and Barbuda", 
    "AND": "Andorra", 
    "YEM": "Yemen", 
    "NCL": "New Caledonia", 
    "JOR": "Jordan", 
    "SWZ": "Eswatini", 
    "SWE": "Sweden", 
    "BMU": "Bermuda", 
    "AUT": "Austria", 
    "GHA": "Ghana", 
    "DEU": "Germany", 
    "GEO": "Georgia", 
    "COL": "Colombia", 
    "VEN": "Venezuela", 
    "HUN": "Hungary", 
    "OMN": "Oman", 
    "SVN": "Slovenia", 
    "BLR": "Belarus", 
    "PAN": "Panama", 
    "FST": "Palestinian Territory", # Assuming FST is a non-standard code
    "NGA": "Nigeria", 
    "SOM": "Somalia", 
    "MEX": "Mexico", 
    "JAM": "Jamaica", 
    "BEL": "Belgium", 
    "BOL": "Bolivia", 
    "CAN": "Canada", 
    "GTM": "Guatemala", 
    "CIV": "Côte d'Ivoire", 
    "UMI": "United States Minor Outlying Islands", 
    "IOT": "British Indian Ocean Territory", 
    "ARG": "Argentina", 
    "DNK": "Denmark", 
    "EST": "Estonia", 
    "PER": "Peru", 
    "BWA": "Botswana", 
    "SGP": "Singapore", 
    "MMR": "Myanmar", 
    "UZB": "Uzbekistan", 
    "REU": "Réunion", 
    "THA": "Thailand", 
    "EGY": "Egypt", 
    "LTU": "Lithuania", 
    "AGO": "Angola", 
    "ARE": "United Arab Emirates", 
    "DZA": "Algeria", 
    "IND": "India", 
    "VIR": "U.S. Virgin Islands", 
    "AUS": "Australia", 
    "CSS": "South Sudan", # Assuming CSS is a non-standard code
    "SLV": "El Salvador", 
    "ISR": "Israel", 
    "LIE": "Liechtenstein", 
    "CYM": "Cayman Islands", 
    "HND": "Honduras", 
    "PRI": "Puerto Rico", 
    "IRL": "Ireland", 
    "NFK": "Norfolk Island", 
    "ZWE": "Zimbabwe", 
    "VNM": "Vietnam", 
    "AZE": "Azerbaijan", 
    "PST": "Palestinian Territory",
    "USA": "United States",
    "CHN": "China",
    "GBR": "United Kingdom of Great Britain and Northern Ireland ",
}     


# The Polars code remains the same:
df_companies_filtered = df_companies_filtered.with_columns(
     pl.col("country")
      .replace(country_mapping_complete, default=pl.col("country"))
      .alias("country")
)

# Replace any remaining None values (nulls) with a standardized label
df_companies_filtered = df_companies_filtered.with_columns(
    pl.col("country").fill_null(pl.lit("Unknown")).alias("country")
)

df_companies_filtered = df_companies_filtered.with_columns(
    country_new=pl.col("country").replace(country_mapping_complete)
)


df_companies_filtered.with_columns(country_new=pl.col("country").replace(country_mapping_complete))

/var/folders/f1/77pps9rs2l9ffb8_p5tj2yrr0000gp/T/ipykernel_31128/2092048645.py:183: DeprecationWarning: the `default` parameter for `replace` is deprecated. Use `replace_strict` instead to set a default while replacing values.
(Deprecated in version 1.0.0)
  pl.col("country")

shape: (196_553, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ company   ┆ country   ┆ city      ┆ founded_y ┆ … ┆ funding_r ┆ industry  ┆ status    ┆ country_ │
│ ---       ┆ ---       ┆ ---       ┆ ear       ┆   ┆ ounds     ┆ ---       ┆ ---       ┆ new      │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ ---       ┆ str       ┆ str       ┆ ---      │
│           ┆           ┆           ┆ i32       ┆   ┆ f64       ┆           ┆           ┆ str      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Wetpaint  ┆ United    ┆ Seattle   ┆ 2005      ┆ … ┆ 3.0       ┆ web       ┆ operating ┆ United   │
│           ┆ States    ┆           ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ Flektor   ┆ United    ┆ Culver    ┆ null      ┆ … ┆ null      ┆ games_vid ┆ acquired  ┆ United   │
│           ┆ States    ┆ City      ┆           ┆   ┆           ┆ eo        ┆           ┆ States   │
│ There     ┆ United    ┆ San Mateo ┆ null      ┆ … ┆ null      ┆ games_vid ┆ acquired  ┆ United   │
│           ┆ States    ┆           ┆           ┆   ┆           ┆ eo        ┆           ┆ States   │
│ MYWEBBO   ┆ Unknown   ┆ null      ┆ 2008      ┆ … ┆ null      ┆ network_h ┆ operating ┆ Unknown  │
│           ┆           ┆           ┆           ┆   ┆           ┆ osting    ┆           ┆          │
│ THE Movie ┆ Unknown   ┆ null      ┆ 2008      ┆ … ┆ null      ┆ games_vid ┆ operating ┆ Unknown  │
│ Streamer  ┆           ┆           ┆           ┆   ┆           ┆ eo        ┆           ┆          │
│ Synergie  ┆ Morocco   ┆ Agadir    ┆ 2007      ┆ … ┆ null      ┆ advertisi ┆ operating ┆ Morocco  │
│ Media     ┆           ┆           ┆           ┆   ┆           ┆ ng        ┆           ┆          │
│ Green     ┆ India     ┆ Vadodara  ┆ 2008      ┆ … ┆ null      ┆ cleantech ┆ operating ┆ India    │
│ Basti Eco ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ systems   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ HostNine  ┆ Unknown   ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ operating ┆ Unknown  │
│ Thomas    ┆ United    ┆ New York  ┆ null      ┆ … ┆ null      ┆ advertisi ┆ operating ┆ United   │
│ Publishin ┆ States    ┆           ┆           ┆   ┆           ┆ ng        ┆           ┆ States   │
│ g         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Vetter    ┆ Unknown   ┆ null      ┆ 2011      ┆ … ┆ null      ┆ enterpris ┆ operating ┆ Unknown  │
│ Idea Mana ┆           ┆           ┆           ┆   ┆           ┆ e         ┆           ┆          │
│ gement    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ System    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ ChatRando ┆ Unknown   ┆ null      ┆ 2011      ┆ … ┆ null      ┆ games_vid ┆ operating ┆ Unknown  │
│ m         ┆           ┆           ┆           ┆   ┆           ┆ eo        ┆           ┆          │
│ ScapadasA ┆ Unknown   ┆ null      ┆ 2007      ┆ … ┆ null      ┆ other     ┆ operating ┆ Unknown  │
│ morosas   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ dimension ┆ United    ┆ Santa Fe  ┆ 2008      ┆ … ┆ null      ┆ advertisi ┆ operating ┆ United   │
│ 5 labs    ┆ States    ┆           ┆           ┆   ┆           ┆ ng        ┆           ┆ States   │
│ FriendFee ┆ United    ┆ Mountain  ┆ 2007      ┆ … ┆ 1.0       ┆ web       ┆ acquired  ┆ United   │
│ d         ┆ States    ┆ View      ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ Whooligan ┆ Unknown   ┆ null      ┆ 2007      ┆ … ┆ null      ┆ games_vid ┆ operating ┆ Unknown  │
│           ┆           ┆           ┆           ┆   ┆           ┆ eo        ┆           ┆          │
│ PoetryVis ┆ United    ┆ Julian    ┆ 2008      ┆ … ┆ null      ┆ games_vid ┆ operating ┆ United   │
│ ualized.c ┆ States    ┆           ┆           ┆   ┆           ┆ eo        ┆           ┆ States   │
│ om        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ moviestri ┆ Unknown   ┆ null      ┆ 2008      ┆ … ┆ null      ┆ games_vid ┆ closed    ┆ Unknown  │
│ ng.com    ┆           ┆           ┆           ┆   ┆           ┆ eo        ┆           ┆          │
│ The Adory ┆ Unknown   ┆ null      ┆ 2008      ┆ … ┆ null      ┆ consultin ┆ operating ┆ Unknown  │
│           ┆           ┆           ┆           ┆   ┆           ┆ g         ┆           ┆          │
│ Mobclix   ┆ United    ┆ Palo Alto ┆ 2008      ┆ … ┆ 1.0       ┆ mobile    ┆ acquired  ┆ United   │
│           ┆ States    ┆           ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ Fitbit    ┆ United    ┆ San       ┆ 2007      ┆ … ┆ 5.0       ┆ health    ┆ operating ┆ United   │
│           ┆ States    ┆ Francisco ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ MTPV      ┆ United    ┆ Austin    ┆ 2003      ┆ … ┆ 3.0       ┆ cleantech ┆ operating ┆ United   │
│           ┆ States    ┆           ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ Camcorder ┆ Unknown   ┆ null      ┆ null      ┆ … ┆ null      ┆ other     ┆ operating ┆ Unknown  │
│ -batterie ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ s.us      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Paydirt   ┆ Australia ┆ Abbotsfor ┆ 2011      ┆ … ┆ null      ┆ software  ┆ operating ┆ Australi │
│           ┆           ┆ d         ┆           ┆   ┆           ┆           ┆           ┆ a        │
│ Wreally   ┆ Unknown   ┆ null      ┆ 2009      ┆ … ┆ null      ┆ web       ┆ operating ┆ Unknown  │
│ Demandbas ┆ United    ┆ San       ┆ 2006      ┆ … ┆ 3.0       ┆ analytics ┆ operating ┆ United   │
│ e         ┆ States    ┆ Francisco ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ Qreature  ┆ Unknown   ┆ null      ┆ 2012      ┆ … ┆ null      ┆ null      ┆ operating ┆ Unknown  │
│ Locanetwo ┆ Unknown   ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ operating ┆ Unknown  │
│ rks       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Inquirly  ┆ Unknown   ┆ null      ┆ 2011      ┆ … ┆ null      ┆ software  ┆ operating ┆ Unknown  │
│ PingMyCom ┆ Unknown   ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ operating ┆ Unknown  │
│ pany      ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Wamba     ┆ Unknown   ┆ null      ┆ 2013      ┆ … ┆ 1.0       ┆ web       ┆ operating ┆ Unknown  │
│ Ourlikes. ┆ Unknown   ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ operating ┆ Unknown  │
│ com       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Local-Kno ┆ Unknown   ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ operating ┆ Unknown  │
│ wledge.co ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ m         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Moodymama ┆ Unknown   ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ operating ┆ Unknown  │
│ s.com     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ HappyCrui ┆ Unknown   ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ operating ┆ Unknown  │
│ ser.com   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ ChatterBl ┆ Canada    ┆ Victoria  ┆ 2011      ┆ … ┆ 1.0       ┆ social    ┆ operating ┆ Canada   │
│ ock       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Connectiv ┆ United    ┆ Dorcheste ┆ 2004      ┆ … ┆ null      ┆ software  ┆ operating ┆ United   │
│ e Logic   ┆ Kingdom   ┆ r         ┆           ┆   ┆           ┆           ┆           ┆ Kingdom  │
│           ┆ of Great  ┆           ┆           ┆   ┆           ┆           ┆           ┆ of Great │
│           ┆ Britai…   ┆           ┆           ┆   ┆           ┆           ┆           ┆ Britai…  │
│ Orange    ┆ Netherlan ┆ Amsterdam ┆ null      ┆ … ┆ null      ┆ null      ┆ operating ┆ Netherla │
│ Dogs      ┆ ds        ┆           ┆           ┆   ┆           ┆           ┆           ┆ nds      │
│ Shattered ┆ United    ┆ San       ┆ 2006      ┆ … ┆ 2.0       ┆ games_vid ┆ closed    ┆ United   │
│ Reality   ┆ States    ┆ Francisco ┆           ┆   ┆           ┆ eo        ┆           ┆ States   │
│ Interacti ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ ve        ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ buddystum ┆ United    ┆ Hayward   ┆ 2007      ┆ … ┆ null      ┆ web       ┆ acquired  ┆ United   │
│ bler      ┆ States    ┆           ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ Fusion    ┆ Cyprus    ┆ Nicosia   ┆ 2006      ┆ … ┆ null      ┆ web       ┆ operating ┆ Cyprus   │
│ Media     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ LastPass  ┆ United    ┆ Fairfax   ┆ 2008      ┆ … ┆ null      ┆ security  ┆ operating ┆ United   │
│           ┆ States    ┆           ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ Unificati ┆ Unknown   ┆ null      ┆ 2008      ┆ … ┆ null      ┆ cleantech ┆ operating ┆ Unknown  │
│ on Energy ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Corp.     ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ Atandra   ┆ United    ┆ Short     ┆ 2004      ┆ … ┆ null      ┆ software  ┆ operating ┆ United   │
│           ┆ States    ┆ Hills     ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ Teapplix  ┆ Unknown   ┆ null      ┆ null      ┆ … ┆ null      ┆ null      ┆ operating ┆ Unknown  │
│ Imindi    ┆ Unknown   ┆ null      ┆ 2008      ┆ … ┆ 2.0       ┆ advertisi ┆ operating ┆ Unknown  │
│           ┆           ┆           ┆           ┆   ┆           ┆ ng        ┆           ┆          │
│ Webgility ┆ United    ┆ San       ┆ 2007      ┆ … ┆ null      ┆ ecommerce ┆ operating ┆ United   │
│           ┆ States    ┆ Francisco ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ FohBoh    ┆ United    ┆ San Jose  ┆ 2007      ┆ … ┆ 1.0       ┆ public_re ┆ operating ┆ United   │
│           ┆ States    ┆           ┆           ┆   ┆           ┆ lations   ┆           ┆ States   │
│ CSC       ┆ United    ┆ Falls     ┆ 1959      ┆ … ┆ null      ┆ consultin ┆ operating ┆ United   │
│           ┆ States    ┆ Church    ┆           ┆   ┆           ┆ g         ┆           ┆ States   │
│ Top-candi ┆ United    ┆ Los       ┆ 2008      ┆ … ┆ null      ┆ search    ┆ operating ┆ United   │
│ date      ┆ States    ┆ Angeles   ┆           ┆   ┆           ┆           ┆           ┆ States   │
│ Closet    ┆ United    ┆ Pacific   ┆ 2007      ┆ … ┆ 1.0       ┆ ecommerce ┆ operating ┆ United   │
│ Couture   ┆ States    ┆ Palisades ┆           ┆   ┆           ┆           ┆           ┆ States   │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [49]:
three_letter_countries = (
    df_companies_filtered
    .filter(pl.col("country").str.len_chars() == 3)
    .select("country")
    .unique()
    .sort("country")
)
three_letter_countries

shape: (0, 1)
┌─────────┐
│ country │
│ ---     │
│ str     │
╞═════════╡
└─────────┘

In [50]:
# Assuming country_mapping_complete contains the dictionary used for replacement

print("\n--- Identifying Unmapped Codes ---")

# list of all standardized long names (the TARGET values)
target_names = pl.Series(list(df_unicorn_filtered["country"].unique())).to_list()

# 2. Filter df_companies_filtered to find all country names that are *NOT* in the target list
unmapped_df = df_companies_filtered.filter(
    ~pl.col("country").is_in(target_names)
).select(pl.col("country")).unique()

print(f"Total Unique UNMAPPED Codes Remaining: {len(unmapped_df)}")
print("Sample of 30 Unmapped Codes:")
print(unmapped_df.head(30))

# The output of unmapped_df.head(30) is what you need to map!

--- Identifying Unmapped Codes ---
Total Unique UNMAPPED Codes Remaining: 129
Sample of 30 Unmapped Codes:
shape: (30, 1)
┌─────────────────────────────────┐
│ country                         │
│ ---                             │
│ str                             │
╞═════════════════════════════════╡
│ Ecuador                         │
│ United Kingdom of Great Britai… │
│ Latvia                          │
│ Pitcairn Islands                │
│ Jordan                          │
│ Zimbabwe                        │
│ North Macedonia                 │
│ Jamaica                         │
│ Bangladesh                      │
│ Pakistan                        │
│ Unknown                         │
│ Ethiopia                        │
│ Ukraine                         │
│ Greece                          │
│ Benin                           │
│ Poland                          │
│ Iraq                            │
│ El Salvador                     │
│ Morocco                         │
│ Seychelles                      │
│ Bosnia and Herzegovina          │
│ Guinea                          │
│ Nauru                           │
│ Namibia                         │
│ Zambia                          │
│ Armenia                         │
│ Andorra                         │
│ Bulgaria                        │
│ Cuba                            │
│ Bahrain                         │
└─────────────────────────────────┘

In [37]:
# 1. Extract the UNIQUE company names as Python sets
# Set A: Unicorns
set_a_name = df_unicorn_filtered.select('company').unique().to_series().to_list()
set_a = set(set_a_name)

# Set B: Companies
set_b_name = df_companies_filtered.select('company').unique().to_series().to_list()
set_b = set(set_b_name)

# 2. Determine the smaller set
if len(set_a) <= len(set_b):
    smaller_set = set_a
    larger_set = set_b
    set_a_label = "Unicorns"
    set_b_label = "Companies"
else:
    smaller_set = set_b
    larger_set = set_a
    set_a_label = "Companies"
    set_b_label = "Unicorns"

# 3. Calculate Intersection (Common Elements)
common_elements = smaller_set.intersection(larger_set)
count_common = len(common_elements)

# 4. Calculate Difference (Elements in Smaller Set NOT in Larger Set)
# This matches your example: "não em comum da lista que tem menos elementos"
unique_to_smaller_set = smaller_set.difference(larger_set)
count_unique_to_smaller = len(unique_to_smaller_set)

# 5. Calculate Percentage
# Percentage of the smaller set that is NOT common (the difference)
if len(smaller_set) > 0:
    percentage_unique = (count_unique_to_smaller / len(smaller_set)) * 100
else:
    percentage_unique = 0.0

# --- Display Results ---
print("--- Set Analysis on Company Names ---")
print(f"Total Unique Companies in Unicorn DF (Set A): {len(set_a)}")
print(f"Total Unique Companies in Companies DF (Set B): {len(set_b)}")
print("-" * 40)

print(f"Count of Common Elements (Intersection): {count_common}")
print(f"Count of Elements Unique to the Smaller Set: {count_unique_to_smaller}")
print("-" * 40)

print(f"The Smaller Set ({set_a_label} or {set_b_label}) has {len(smaller_set)} elements.")
print(f"Percentage of the Smaller Set NOT in Common: {percentage_unique:.2f}%")

# Optional: Display the actual unique elements from the smaller set
# print(f"\nElements Unique to the Smaller Set ({set_a_label if len(set_a) <= len(set_b) else set_b_label}):")
# print(list(unique_to_smaller_set)[:20]) # Displaying first 20 for brevity

--- Set Analysis on Company Names ---
Total Unique Companies in Unicorn DF (Set A): 1035
Total Unique Companies in Companies DF (Set B): 196345
----------------------------------------
Count of Common Elements (Intersection): 220
Count of Elements Unique to the Smaller Set: 815
----------------------------------------
The Smaller Set (Unicorns or Companies) has 1035 elements.
Percentage of the Smaller Set NOT in Common: 78.74%

In [51]:
# Apply basic cleaning: lowercase and strip leading/trailing whitespace
df_unicorn_filtered = df_unicorn_filtered.with_columns(
    pl.col("industry").str.to_lowercase().str.strip_chars().alias("industry")
)

df_companies_filtered = df_companies_filtered.with_columns(
    pl.col("industry").str.to_lowercase().str.strip_chars().alias("industry")
)

print("--- Basic Industry Cleaning Applied ---")
print(df_unicorn_filtered.select('industry').sample(5))
print(df_companies_filtered.select('industry').sample(5))

--- Basic Industry Cleaning Applied ---
shape: (5, 1)
┌──────────────────────────────┐
│ industry                     │
│ ---                          │
│ str                          │
╞══════════════════════════════╡
│ internet software & services │
│ mobile & telecommunications  │
│ hardware                     │
│ fintech                      │
│ fintech                      │
└──────────────────────────────┘
shape: (5, 1)
┌──────────┐
│ industry │
│ ---      │
│ str      │
╞══════════╡
│ hardware │
│ web      │
│ null     │
│ null     │
│ software │
└──────────┘

In [52]:
# Ensure the configuration from the previous step is still active if possible, 
# but we will explicitly select the column for cleaner output.

print("--- Unique Industries in df_unicorn_filtered (After Basic Clean) ---")
# Select only the industry column, get unique values, sort, and convert to a list for clean display
unicorn_industries = df_unicorn_filtered.select('industry').unique().sort('industry').to_series().to_list()
for industry in unicorn_industries:
    print(industry)
print(f"\nTotal Unique Industries in Unicorn DF: {len(unicorn_industries)}\n")


print("--- Unique Industries in df_companies_filtered (After Basic Clean) ---")
# Display industries from the companies DF
companies_industries = df_companies_filtered.select('industry').unique().sort('industry').to_series().to_list()
for industry in companies_industries:
    print(industry)
print(f"\nTotal Unique Industries in Companies DF: {len(companies_industries)}")

--- Unique Industries in df_unicorn_filtered (After Basic Clean) ---
500 global, rakuten ventures, golden gate ventures
andreessen horowitz, dst global, idg capital
artificial intelligence
auto & transportation
b capital group, monk's hill ventures, dynamic parcel distribution
consumer & retail
cybersecurity
data management & analytics
dragonfly captial, qiming venture partners, dst global
e-commerce & direct-to-consumer
edtech
fintech
finttech
hardware
health
hopu investment management, boyu capital, dc thomson ventures
internet software & services
jungle ventures, accel, venture highway
kuang-chi
mobile & telecommunications
mundi ventures, doqling capital partners, activant capital
other
sequoia capital china, ing, alibaba entrepreneurs fund
sequoia capital china, shunwei capital partners, qualgro
sequoia capital, thoma bravo, softbank
singtel innov8, alpha jwc ventures, golden gate ventures
supply chain, logistics, & delivery
temasek, guggenheim investments, qatar investment authority
tiger global management, tiger brokers, dcm ventures
travel
vertex ventures se asia, global founders capital, visa ventures
vision plus capital, gsr ventures, zhenfund

Total Unique Industries in Unicorn DF: 32

--- Unique Industries in df_companies_filtered (After Basic Clean) ---
None
advertising
analytics
automotive
biotech
cleantech
consulting
design
ecommerce
education
enterprise
fashion
finance
games_video
government
hardware
health
hospitality
legal
local
manufacturing
medical
messaging
mobile
music
nanotech
network_hosting
news
nonprofit
other
pets
photo_video
public_relations
real_estate
search
security
semiconductor
social
software
sports
transportation
travel
web

Total Unique Industries in Companies DF: 43

In [53]:
import polars as pl

# --- Industry Cleaning and Filtering for df_unicorn_filtered ---

# 1. Definitive List of Valid Industries from the Unicorn DF (Target Categories)
valid_unicorn_industries = [
    'artificial intelligence',
    'auto & transportation',
    'consumer & retail',
    'cybersecurity',
    'data management & analytics',
    'e-commerce & direct-to-consumer',
    'edtech',
    'fintech',
    'finttech',  # Kept here temporarily to match the filter list
    'hardware',
    'health',
    'internet software & services',
    'mobile & telecommunications',
    'supply chain, logistics, & delivery',
    'travel',
    'other'
]

# 2. Typo Correction Mapping (Fixing 'finttech' -> 'fintech')
industry_correction_map = {
    'finttech': 'fintech'
}

# 3. Filter df_unicorn_filtered (Removes rows where industry is an investor name)
df_unicorn_filtered = df_unicorn_filtered.filter(
    pl.col("industry").is_in(valid_unicorn_industries)
)

# 4. Apply the typo correction to the remaining industry column
df_unicorn_filtered = df_unicorn_filtered.with_columns(
    pl.col("industry").replace(industry_correction_map).alias("industry")
)

print(f"Number of rows remaining in df_unicorn_filtered after industry filtering: {df_unicorn_filtered.shape[0]}")

# --- Verification Step ---
# Print the final, unique list of industries from the cleaned DataFrame
print("\n--- Final Complete Unique Industries in df_unicorn_filtered ---")
final_unicorn_industries_list = df_unicorn_filtered.select('industry').unique().sort('industry').to_series().to_list()
for industry in final_unicorn_industries_list:
    print(industry)

print(f"\nTotal Unique Industries (Cleaned): {len(final_unicorn_industries_list)}")

Number of rows remaining in df_unicorn_filtered after industry filtering: 1021

--- Final Complete Unique Industries in df_unicorn_filtered ---
artificial intelligence
auto & transportation
consumer & retail
cybersecurity
data management & analytics
e-commerce & direct-to-consumer
edtech
fintech
hardware
health
internet software & services
mobile & telecommunications
other
supply chain, logistics, & delivery
travel

Total Unique Industries (Cleaned): 15

In [54]:
import polars as pl

# 1. MAPPING: From Unicorn Industry Names to Companies DF Industry Names
unicorn_to_companies_map = {
    'artificial intelligence': 'software',
    'auto & transportation': 'transportation',
    'consumer & retail': 'ecommerce',
    'cybersecurity': 'security',
    'data management & analytics': 'analytics',
    'e-commerce & direct-to-consumer': 'ecommerce',
    'edtech': 'education',
    'fintech': 'finance',
    'finttech': 'finance', # Fixes typo
    'hardware': 'hardware',
    'health': 'health',
    'internet software & services': 'software',
    'mobile & telecommunications': 'mobile',
    'other': 'other',
    'supply chain, logistics, & delivery': 'transportation',
    'travel': 'travel'
}

# 2. INVESTOR REGEX: (Used to identify and map non-industry entries to 'other')
investor_keywords_regex = (
    "500 global|rakuten ventures|andreessen horowitz|dst global|idg capital|"
    "dragonfly captial|qiming venture partners|hopu investment management|boyu capital|"
    "dc thomson ventures|jungle ventures|accel|venture highway|kuang-chi|mundi ventures|"
    "doqling capital partners|activant capital|sequoia capital china|ing|alibaba entrepreneurs fund|"
    "shunwei capital partners|qualgro|sequoia capital|thoma bravo|softbank|singtel innov8|"
    "alpha jwc ventures|temasek|guggenheim investments|qatar investment authority|"
    "tiger global management|tiger brokers|dcm ventures|vertex ventures se asia|global founders capital|"
    "visa ventures|vision plus capital|gsr ventures|zhenfund"
)

# --- Applying Transformations to df_unicorn_filtered (FIXED AGAIN with .replace()) ---

# We'll use a two-step process to ensure the logic is clean and correct:
# Step 1: Handle all investor rows and map them to 'other'.
# Step 2: On the rows that are NOT investors, apply the industry renaming map.

df_unicorn_temp = df_unicorn_filtered.with_columns(
    pl.when(pl.col("industry").str.contains(investor_keywords_regex))
      .then(pl.lit("other")) # Map investor rows to 'other'
      .otherwise(pl.col("industry")) # Keep the original industry name for non-investor rows
      .alias("industry_cleaned")
)

df_unicorn_filtered = df_unicorn_temp.with_columns(
    # Use .replace() to apply the dictionary map to the cleaned industry column.
    # The 'default' parameter ensures that if a value is NOT in the map (e.g., if it's 'other' from the previous step), 
    # it keeps its value.
    pl.col("industry_cleaned").replace(unicorn_to_companies_map, default=pl.col("industry_cleaned"))
    .alias("industry")
).drop(["industry_cleaned"])


# --- Verification ---
print("--- Verification: Industries in df_unicorn_filtered after Mapping (FINAL FIX) ---")
print(df_unicorn_filtered.select('industry').unique().sort('industry'))

--- Verification: Industries in df_unicorn_filtered after Mapping (FINAL FIX) ---
shape: (12, 1)
┌────────────────┐
│ industry       │
│ ---            │
│ str            │
╞════════════════╡
│ analytics      │
│ ecommerce      │
│ education      │
│ finance        │
│ hardware       │
│ health         │
│ mobile         │
│ other          │
│ security       │
│ software       │
│ transportation │
│ travel         │
└────────────────┘

/var/folders/f1/77pps9rs2l9ffb8_p5tj2yrr0000gp/T/ipykernel_31128/2310645179.py:52: DeprecationWarning: the `default` parameter for `replace` is deprecated. Use `replace_strict` instead to set a default while replacing values.
(Deprecated in version 1.0.0)
  pl.col("industry_cleaned").replace(unicorn_to_companies_map, default=pl.col("industry_cleaned"))

In [55]:
BILLION = 1_000_000_000

# Apply the conversion to create the new, standardized column
df_companies_filtered = df_companies_filtered.with_columns(
    (pl.col("funding_total_usd") / BILLION)
    .alias("total_raised_usd_b") # Standardize the column name to match the Unicorn DF
    .cast(pl.Float64)
)

print(df_companies_filtered.select(['funding_total_usd', 'total_raised_usd_b']).head(10))

shape: (10, 2)
┌───────────────────┬────────────────────┐
│ funding_total_usd ┆ total_raised_usd_b │
│ ---               ┆ ---                │
│ f64               ┆ f64                │
╞═══════════════════╪════════════════════╡
│ 3.975e7           ┆ 0.03975            │
│ null              ┆ null               │
│ null              ┆ null               │
│ null              ┆ null               │
│ null              ┆ null               │
│ null              ┆ null               │
│ null              ┆ null               │
│ null              ┆ null               │
│ null              ┆ null               │
│ null              ┆ null               │
└───────────────────┴────────────────────┘

"The analysis uses two distinct time filters to account for the evolution of tech companies and the definition of a 'Unicorn':

Companies Dataset Filter ($\text{Year} > 2001$): This separates ventures founded after the Dot-Com Bubble burst. Companies surviving the 2001 collapse generally had more sustainable models, shaping the next generation of tech firms. (Context derived from post-bubble analysis, e.g., Goldman Sachs reports).

Unicorn Dataset Filter ($\text{Year} > 2013$): This focuses specifically on companies founded after Aileen Lee coined the term 'Unicorn' in 2013, ensuring the sample aligns with the modern concept of hyper-growth, high-valuation private firms. (Source: Aileen Lee, TechCrunch, 2013)."

In [56]:
# --- New Cutoff Years ---
CUTOFF_YEAR_COMPANIES = 2001  # For the larger, older 'Companies' dataset
CUTOFF_YEAR_UNICORNS = 2013   # For the newer, high-growth 'Unicorns' dataset

# --- 1. Filtering df_companies_filtered (Table 1 - General Base) ---
COL_YEAR_T1 = 'founded_year' # Verify this name in your DF!

df_companies_2002_plus = df_companies_filtered.filter(
    pl.col(COL_YEAR_T1) > CUTOFF_YEAR_COMPANIES
)

print("\n--- Table 1 (Companies) Filtering (Post-2001) ---")
print(f"Total rows before filter: {df_companies_filtered.shape[0]}")
print(f"Total rows founded after {CUTOFF_YEAR_COMPANIES}: {df_companies_2002_plus.shape[0]}")


# --- 2. Filtering df_unicorn_filtered (Table 2 - High Growth) ---
COL_YEAR_T2 = 'founded_year' # Verify this name in your DF!

df_unicorn_2014_plus = df_unicorn_filtered.filter(
    pl.col(COL_YEAR_T2) > CUTOFF_YEAR_UNICORNS
)

print("\n--- Table 2 (Unicorns) Filtering (Post-2013) ---")
print(f"Total rows before filter: {df_unicorn_filtered.shape[0]}")
print(f"Total rows founded after {CUTOFF_YEAR_UNICORNS}: {df_unicorn_2014_plus.shape[0]}")

--- Table 1 (Companies) Filtering (Post-2001) ---
Total rows before filter: 196553
Total rows founded after 2001: 74408

--- Table 2 (Unicorns) Filtering (Post-2013) ---
Total rows before filter: 1021
Total rows founded after 2013: 527

In [57]:
# 1. Standardize colum company:
df_companies_filtered = df_companies_filtered.with_columns(
    pl.col("company").str.to_lowercase().str.strip_chars().alias("company_key")
)

df_unicorn_filtered = df_unicorn_filtered.with_columns(
    pl.col("company").str.to_lowercase().str.strip_chars().alias("company_key")
)

In [58]:
# COUNT COMMON COMPANIES (INNER JOIN)
df_common_companies = df_companies_filtered.join(
    df_unicorn_filtered.select("company_key"),
    on="company_key",
    how="inner"
)

# Calculation and Percentage
num_common = df_common_companies.shape[0]
total_companies_t1 = df_companies_filtered.shape[0]
percent_common = (num_common / total_companies_t1) * 100

print(f"\n--- Common Company Analysis ---")
print(f"Total Companies in Table 1 (Original DF): {total_companies_t1}")
print(f"Matching Companies Found df unicorn (df_lookup): {num_common}")
print(f"Match Percentage: {percent_common:.2f}%")

--- Common Company Analysis ---
Total Companies in Table 1 (Original DF): 196553
Matching Companies Found df unicorn (df_lookup): 246
Match Percentage: 0.13%

In [59]:
# ----------------------------------------------------------------------
# RE-VERIFICATION OF NULLS AFTER YEAR FILTERING (Post-2001)
# ----------------------------------------------------------------------

# Assuming df_companies_filtered is the one that has already been filtered by year > 2001
# If you saved the result in a new variable (e.g., df_companies_2002_plus), use that name instead.
df1 = df_companies_filtered 
total_rows = df1.shape[0]

# --- Check 'country' ---
COUNTRY_COL = "country"
if COUNTRY_COL in df1.columns:
    null_count_country = df1.select(pl.col(COUNTRY_COL).null_count()).item()
    percentage_null_country = (null_count_country / total_rows) * 100
    
    print(f"\n--- Null Check on Filtered Table 1 ({df1.shape[0]} Rows) ---")
    print(f"Column '{COUNTRY_COL}': {percentage_null_country:.2f}% Nulls ({null_count_country} nulls)")
else:
    print(f"Column '{COUNTRY_COL}' not found in the current DataFrame.")

# --- Check 'founded_year' (since it was also filtered) ---
YEAR_COL = "founded_year"
if YEAR_COL in df1.columns:
    null_count_year = df1.select(pl.col(YEAR_COL).null_count()).item()
    percentage_null_year = (null_count_year / total_rows) * 100
    
    print(f"Column '{YEAR_COL}': {percentage_null_year:.2f}% Nulls ({null_count_year} nulls)")
else:
    print(f"Column '{YEAR_COL}' not found in the current DataFrame.")

--- Null Check on Filtered Table 1 (196553 Rows) ---
Column 'country': 0.00% Nulls (0 nulls)
Column 'founded_year': 53.59% Nulls (105326 nulls)

In [60]:
# ----------------------------------------------------------------------
# FINAL CLEANING: Dropping Rows with Nulls in CRITICAL COLUMNS
# ----------------------------------------------------------------------

df_companies_cleaned = df_companies_filtered.filter(
    # Keep row ONLY IF founded_year is NOT null AND country is NOT null
    pl.col("founded_year").is_not_null() & pl.col("country").is_not_null()
)

# --- Verification ---
rows_before = df_companies_filtered.shape[0]
rows_after = df_companies_cleaned.shape[0]
rows_dropped = rows_before - rows_after
percentage_dropped = (rows_dropped / rows_before) * 100

print("\n--- Final Cleaning Summary ---")
print(f"Rows Before Cleaning: {rows_before}")
print(f"Rows Kept (Clean Data): {rows_after}")
print(f"Rows Dropped: {rows_dropped}")
print(f"Percentage Dropped: {percentage_dropped:.2f}%")

# Re-check the null rates on the *new* cleaned DF
print("\nNull Rates on Cleaned DF:")
print(df_companies_cleaned.select([
    pl.col("country").null_count().alias("country_nulls"),
    pl.col("founded_year").null_count().alias("year_nulls")
]))

--- Final Cleaning Summary ---
Rows Before Cleaning: 196553
Rows Kept (Clean Data): 91227
Rows Dropped: 105326
Percentage Dropped: 53.59%

Null Rates on Cleaned DF:
shape: (1, 2)
┌───────────────┬────────────┐
│ country_nulls ┆ year_nulls │
│ ---           ┆ ---        │
│ u32           ┆ u32        │
╞═══════════════╪════════════╡
│ 0             ┆ 0          │
└───────────────┴────────────┘

In [61]:
import polars as pl
import os

# ----------------------------------------------------------------------
# STEP 1: PREPARATION (KEY STANDARDIZATION & UNICORN COLUMN SELECTION)
# ----------------------------------------------------------------------

# 1. Standardize the Join Key (company_key) in the Base DF
df_companies_cleaned = df_companies_cleaned.with_columns(
    pl.col("company").str.to_lowercase().str.strip_chars().alias("company_key")
)

# 2. Prepare and Rename Columns from the Unicorn DF to avoid conflicts during merge
unicorn_rename_map = {
    "valuation_usd_b": "valuation_b_unicorn",
    "date_joined": "date_joined_unicorn",
    "total_raised_usd_b": "total_raised_b_unicorn",  # Conflicts with base DF, will be handled by coalesce
    "investors_count": "investors_count_unicorn",
}

unicorn_select_cols = ["company_key"] + list(unicorn_rename_map.keys())
df_unicorn_select = df_unicorn_filtered.select(unicorn_select_cols).rename(unicorn_rename_map)

# ----------------------------------------------------------------------
# STEP 2: PERFORM LEFT JOIN
# ----------------------------------------------------------------------
df_final_analysis = df_companies_cleaned.join(
    df_unicorn_select,
    on="company_key",
    how="left" # Keeps all 66k cleaned companies
)

# ----------------------------------------------------------------------
# STEP 3: CONSOLIDATE COLUMNS USING pl.coalesce & CREATE FLAG
# ----------------------------------------------------------------------

# 1. Consolidate Total Raised: Prefer UNICORN value, then BASE value
# FIX: Use the function pl.coalesce(col1, col2)
df_final_analysis = df_final_analysis.with_columns(
    pl.coalesce(
        pl.col("total_raised_b_unicorn"), # 1st choice: Unicorn value
        pl.col("total_raised_usd_b")      # 2nd choice: Base value
    ).alias("total_raised_usd_b_final")
)

# 2. Create Boolean Flag (Based on Valuation from Unicorn DF)
df_final_analysis = df_final_analysis.with_columns(
    pl.col("valuation_b_unicorn").is_not_null().alias("is_unicorn")
)

# ----------------------------------------------------------------------
# STEP 4: FINAL CLEANUP (Removing Redundant/Intermediate Columns)
# ----------------------------------------------------------------------

# Define columns to drop based on the merge strategy
columns_to_drop = [
    # Financial Duplicates (now consolidated into *_final)
    "total_raised_usd_b",       # Base version
    "total_raised_b_unicorn",   # Unicorn version
    
    # Removed Details (as requested):
    "city",                     
    "funding_total_usd",        # Redundant, use total_raised_usd_b_final
    "funding_rounds",           
    
    # Intermediate/Unicorn-Specific Columns (Keeping the key unicorn metrics)
    "company_key",              
]

# Apply drop, filtering out any column that might not exist
existing_cols_to_drop = [col for col in columns_to_drop if col in df_final_analysis.columns]
df_final_analysis = df_final_analysis.drop(existing_cols_to_drop)


# Define the final set of essential columns for analysis
final_cols = [
    "company", "country", "founded_year", "industry", "status", # Base Metadata
    "total_raised_usd_b_final",                                # Consolidated Financial Metric
    "valuation_b_unicorn",                                     # Unicorn Valuation (Non-null only if is_unicorn is True)
    "date_joined_unicorn",                                     # Unicorn Join Date
    "investors_count_unicorn",                                 # Unicorn Investor Count
    "is_unicorn"                                               # The Flag
]

# Filter the DataFrame to only include the final, clean columns
df_final_analysis = df_final_analysis.select(final_cols)


print("\n--- FINAL CLEANED DATAFRAME READY ---")
print(f"Final DataFrame shape: {df_final_analysis.shape}")
print("\nFinal Columns and Types:")
print(df_final_analysis.dtypes)
print("\nHead of Final Analysis DF:")
print(df_final_analysis.head())

--- FINAL CLEANED DATAFRAME READY ---
Final DataFrame shape: (91227, 10)

Final Columns and Types:
[String, String, Int32, String, String, Float64, Float64, Int32, Int64, Boolean]

Head of Final Analysis DF:
shape: (5, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ company   ┆ country   ┆ founded_y ┆ industry  ┆ … ┆ valuation ┆ date_join ┆ investors ┆ is_unico │
│ ---       ┆ ---       ┆ ear       ┆ ---       ┆   ┆ _b_unicor ┆ ed_unicor ┆ _count_un ┆ rn       │
│ str       ┆ str       ┆ ---       ┆ str       ┆   ┆ n         ┆ n         ┆ icorn     ┆ ---      │
│           ┆           ┆ i32       ┆           ┆   ┆ ---       ┆ ---       ┆ ---       ┆ bool     │
│           ┆           ┆           ┆           ┆   ┆ f64       ┆ i32       ┆ i64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ Wetpaint  ┆ United    ┆ 2005      ┆ web       ┆ … ┆ null      ┆ null      ┆ null      ┆ false    │
│           ┆ States    ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ MYWEBBO   ┆ Unknown   ┆ 2008      ┆ network_h ┆ … ┆ null      ┆ null      ┆ null      ┆ false    │
│           ┆           ┆           ┆ osting    ┆   ┆           ┆           ┆           ┆          │
│ THE Movie ┆ Unknown   ┆ 2008      ┆ games_vid ┆ … ┆ null      ┆ null      ┆ null      ┆ false    │
│ Streamer  ┆           ┆           ┆ eo        ┆   ┆           ┆           ┆           ┆          │
│ Synergie  ┆ Morocco   ┆ 2007      ┆ advertisi ┆ … ┆ null      ┆ null      ┆ null      ┆ false    │
│ Media     ┆           ┆           ┆ ng        ┆   ┆           ┆           ┆           ┆          │
│ Green     ┆ India     ┆ 2008      ┆ cleantech ┆ … ┆ null      ┆ null      ┆ null      ┆ false    │
│ Basti Eco ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ systems   ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [62]:
import polars as pl
import os

# 1. Define the output directory path
output_dir = "../data/clean"
os.makedirs(output_dir, exist_ok=True) 

print("--- Saving Cleaned DataFrames to Parquet ---")

# 2. Save the Cleaned Companies DataFrame (T1)
df_companies_cleaned.write_parquet(os.path.join(output_dir, "companies_cleaned.parquet"))
print(f"Saved df_companies_cleaned to: {output_dir}/companies_cleaned.parquet")

# 3. Save the Standardized Unicorn DataFrame (T2)
df_unicorn_filtered.write_parquet(os.path.join(output_dir, "unicorns_standardized.parquet"))
print(f"Saved df_unicorn_filtered to: {output_dir}/unicorns_standardized.parquet")

# 4. Save the Final Merged and Consolidated Analysis DataFrame (Mantém o output_dir original)
df_final_analysis.write_parquet(os.path.join(output_dir, "final_analysis_merged.parquet"))
print(f"Saved df_final_analysis to: {output_dir}/final_analysis_merged.parquet")

print("\n--- Saving Complete ---")

--- Saving Cleaned DataFrames to Parquet ---
Saved df_companies_cleaned to: ../data/clean/companies_cleaned.parquet
Saved df_unicorn_filtered to: ../data/clean/unicorns_standardized.parquet
Saved df_final_analysis to: ../data/clean/final_analysis_merged.parquet

--- Saving Complete ---

In [63]:
import os
print("Current Working Directory (CWD):")
print(os.getcwd())

Current Working Directory (CWD):
/Users/jannajulianfeiten/IronHack/final/tech-startups-analysis/notebooks

In [64]:
print(df_unicorn_filtered.schema)

Schema([('company', String), ('country', String), ('city', String), ('industry', String), ('date_joined', Int32), ('founded_year', Int64), ('valuation_usd_b', Float64), ('total_raised_usd_b', Float64), ('investors_count', Int64), ('deal_terms', Int64), ('select_inverstors', String), ('company_key', String)])

In [65]:
print(df_companies_cleaned.schema)

Schema([('company', String), ('country', String), ('city', String), ('founded_year', Int32), ('funding_total_usd', Float64), ('funding_rounds', Float64), ('industry', String), ('status', String), ('country_new', String), ('total_raised_usd_b', Float64), ('company_key', String)])

In [66]:
print(df_final_analysis.schema)

Schema([('company', String), ('country', String), ('founded_year', Int32), ('industry', String), ('status', String), ('total_raised_usd_b_final', Float64), ('valuation_b_unicorn', Float64), ('date_joined_unicorn', Int32), ('investors_count_unicorn', Int64), ('is_unicorn', Boolean)])

### Data Seeding (MySQL)

In [67]:
import polars as pl
from sqlalchemy import create_engine
from sqlalchemy.types import DECIMAL, Integer, Boolean, String
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv(dotenv_path="../.env")

# --- 1. CONFIGURATION (HARDCODED FOR RELIABILITY) ---
# NOTE: YOU MUST REPLACE THESE PLACEHOLDERS WITH YOUR ACTUAL CREDENTIALS!
DB_USER = os.getenv("MYSQL_USER")
DB_PASSWORD = os.getenv("MYSQL_PASSWORD")
DB_HOST = "localhost"
DB_NAME = "startup_unicorns" 
FILE_NAME = "../data/clean/final_analysis_merged.parquet" 

# CRITICAL CHECK: If this is None, the user MUST configure their local .env file
if DB_USER is None or DB_PASSWORD is None:
    # Este erro deve aparecer para quem for rodar o código sem o .env local configurado
    raise ValueError("FATAL: MySQL credentials not loaded. Ensure you have a '.env' file in the root directory with MYSQL_USER and MYSQL_PASSWORD set, and that you have RESTARTED the kernel.")

# Create the SQLAlchemy engine using the 'mysql+pymysql' driver
DATABASE_URL = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# --- 2. DATA LOADING & PREP (Polars) ---
print("Loading and preparing data using Polars...")

try:
    df_raw = pl.read_parquet(FILE_NAME)
except FileNotFoundError:
    print(f"Error: Parquet file not found at {FILE_NAME}. Check the path.")
    exit()

# --- 3. DYNAMIC TABLE CREATION LOGIC ---

def seed_database_tables(df: pl.DataFrame, engine):
    # CRITICAL FIX: Ensure SQLAlchemy types are available within the function scope
    from sqlalchemy.types import DECIMAL, Integer, Boolean
    
    # 3.1. Dimension Table: Countries
    df_countries = df.select("country").unique().with_row_index("country_id", offset=1).rename({"country": "name"})
    country_map = dict(zip(df_countries["name"], df_countries["country_id"]))

    # 3.2. Dimension Table: Industries
    df_industries = df.select("industry").unique().with_row_index("industry_id", offset=1).rename({"industry": "name"})
    industry_map = dict(zip(df_industries["name"], df_industries["industry_id"]))
    
    # 3.3. Dimension Table: Company Status 
    df_status = pl.DataFrame({
        "status_id": [1, 2],
        "name": ["Unicorn", "Non-Unicorn"]
    })
    
    # 3.4. Fact Table: Companies (Mapping to foreign keys)
    # Step A: Apply all mappings and add missing columns
    df_companies = df.with_columns([
        pl.col("country").replace(country_map).alias("country_id"),
        pl.col("industry").replace(industry_map).alias("industry_id"),
        pl.col("is_unicorn").cast(pl.Int8).replace({1: 1, 0: 2}).alias("status_id"),
        
        
        # Add an empty column for the missing investor count
        pl.lit(None).cast(pl.Int64).alias("investors_count_unicorn")
    ])

    # Step B: Final selection and Primary Key (PK) creation
    df_companies = df_companies.select(
        pl.col("company").alias("company_name"),
        pl.col("founded_year").alias("foundation_year"), 
        pl.col("valuation_b_unicorn"),
        pl.col("total_raised_usd_b_final").alias("total_funding"),
        pl.lit(None).alias("time_to_unicorn"),
        pl.col("investors_count_unicorn"),
        pl.col("is_unicorn"),
        pl.col("country_id"),
        pl.col("industry_id"),
        pl.col("status_id")
    ).with_row_index("company_id", offset=1)
    
    # --- 4. EXPORT TO MYSQL (Convert Polars to Pandas for SQLAlchemy) ---
    print("Exporting data to MySQL...")

    # A. Dimension Tables 
    df_industries.to_pandas().to_sql('industries', con=engine, if_exists='replace', index=False)
    df_countries.to_pandas().to_sql('countries', con=engine, if_exists='replace', index=False)
    df_status.to_pandas().to_sql('company_status', con=engine, if_exists='replace', index=False)

    # B. Fact Table (Companies) - Use custom dtype map for funding fix
    df_companies_pandas = df_companies.to_pandas()
    
    custom_companies_dtype = {
        'company_id': Integer, 
        'company_name': String(255),
        'foundation_year': Integer,
        'valuation_b_unicorn': DECIMAL(18, 2),
        'total_funding': DECIMAL(18, 2), 
        'time_to_unicorn': Integer,
        'investors_count_unicorn': Integer,
        'is_unicorn': Boolean,
        'country_id': Integer,
        'industry_id': Integer,
        'status_id': Integer
    }
    
    df_companies_pandas.to_sql(
        'companies', 
        con=engine, 
        if_exists='replace', 
        index=False,
        dtype=custom_companies_dtype 
    )

    print("🎉 Database seeding complete! You can now analyze the data in MySQL Workbench.")

# --- 5. EXECUTE THE SEEDING ---
seed_database_tables(df_raw, engine)

Loading and preparing data using Polars...
Exporting data to MySQL...
🎉 Database seeding complete! You can now analyze the data in MySQL Workbench.

In [68]:
import polars as pl
from sqlalchemy import create_engine
from sqlalchemy.types import DECIMAL, Integer, Boolean, String
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv(dotenv_path="../.env")

# --- 1. CONFIGURATION (HARDCODED FOR RELIABILITY) ---
# NOTE: YOU MUST REPLACE THESE PLACEHOLDERS WITH YOUR ACTUAL CREDENTIALS!
DB_USER = os.getenv("MYSQL_USER")
DB_PASSWORD = os.getenv("MYSQL_PASSWORD")
DB_HOST = "localhost"
DB_NAME = "startup_unicorns" 
FILE_NAME = "../data/clean/final_analysis_merged.parquet" 

# CRITICAL CHECK: If this is None, the user MUST configure their local .env file
if DB_USER is None or DB_PASSWORD is None:
    # Este erro deve aparecer para quem for rodar o código sem o .env local configurado
    raise ValueError("FATAL: MySQL credentials not loaded. Ensure you have a '.env' file in the root directory with MYSQL_USER and MYSQL_PASSWORD set, and that you have RESTARTED the kernel.")

# Create the SQLAlchemy engine using the 'mysql+pymysql' driver
DATABASE_URL = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# --- 2. DATA LOADING & PREP (Polars) ---
print("Loading and preparing data using Polars...")

try:
    df_raw = pl.read_parquet(FILE_NAME)
except FileNotFoundError:
    print(f"Error: Parquet file not found at {FILE_NAME}. Check the path.")
    exit()

# --- 3. DYNAMIC TABLE CREATION LOGIC ---

def seed_database_tables(df: pl.DataFrame, engine):
    # CRITICAL FIX: Ensure SQLAlchemy types are available within the function scope
    from sqlalchemy.types import DECIMAL, Integer, Boolean
    
    # 3.1. Dimension Table: Countries
    df_countries = df.select("country").unique().with_row_index("country_id", offset=1).rename({"country": "name"})
    country_map = dict(zip(df_countries["name"], df_countries["country_id"]))

    # 3.2. Dimension Table: Industries
    df_industries = df.select("industry").unique().with_row_index("industry_id", offset=1).rename({"industry": "name"})
    industry_map = dict(zip(df_industries["name"], df_industries["industry_id"]))
    
    # 3.3. Dimension Table: Company Status 
    df_status = pl.DataFrame({
        "status_id": [1, 2],
        "name": ["Unicorn", "Non-Unicorn"]
    })
    
    # 3.4. Fact Table: Companies (Mapping to foreign keys)
    # Step A: Apply all mappings and add missing columns
    df_companies = df.with_columns([
        pl.col("country").replace(country_map).alias("country_id"),
        pl.col("industry").replace(industry_map).alias("industry_id"),
        pl.col("is_unicorn").cast(pl.Int8).replace({1: 1, 0: 2}).alias("status_id"),
        (pl.col("date_joined_unicorn") - pl.col("founded_year")).alias("time_to_unicorn_calc"),
        
        
        # Add an empty column for the missing investor count
        pl.lit(None).cast(pl.Int64).alias("investors_count_unicorn")
    ])

    # Step B: Final selection and Primary Key (PK) creation
    df_companies = df_companies.select(
        pl.col("company").alias("company_name"),
        pl.col("founded_year").alias("foundation_year"), 
        pl.col("valuation_b_unicorn"),
        pl.col("total_raised_usd_b_final").alias("total_funding"),
        pl.col("time_to_unicorn_calc").alias("time_to_unicorn"),
        pl.col("investors_count_unicorn"),
        pl.col("is_unicorn"),
        pl.col("country_id"),
        pl.col("industry_id"),
        pl.col("status_id")
    ).with_row_index("company_id", offset=1)
    
    # --- 4. EXPORT TO MYSQL (Convert Polars to Pandas for SQLAlchemy) ---
    print("Exporting data to MySQL...")

    # A. Dimension Tables 
    df_industries.to_pandas().to_sql('industries', con=engine, if_exists='replace', index=False)
    df_countries.to_pandas().to_sql('countries', con=engine, if_exists='replace', index=False)
    df_status.to_pandas().to_sql('company_status', con=engine, if_exists='replace', index=False)

    # B. Fact Table (Companies) - Use custom dtype map for funding fix
    df_companies_pandas = df_companies.to_pandas()
    
    custom_companies_dtype = {
        'company_id': Integer, 
        'company_name': String(255),
        'foundation_year': Integer,
        'valuation_b_unicorn': DECIMAL(18, 2),
        'total_funding': DECIMAL(18, 2), 
        'time_to_unicorn': Integer,
        'investors_count_unicorn': Integer,
        'is_unicorn': Boolean,
        'country_id': Integer,
        'industry_id': Integer,
        'status_id': Integer
    }
    
    df_companies_pandas.to_sql(
        'companies', 
        con=engine, 
        if_exists='replace', 
        index=False,
        dtype=custom_companies_dtype 
    )

    print("🎉 Database seeding complete! You can now analyze the data in MySQL Workbench.")

# --- 5. EXECUTE THE SEEDING ---
seed_database_tables(df_raw, engine)

Loading and preparing data using Polars...
Exporting data to MySQL...
🎉 Database seeding complete! You can now analyze the data in MySQL Workbench.